<section class="main_gallery" ng-controller="GalleryCtrl as gallery">
    <div class="container12" >
        <h1 style="color:#f6db20;">Galerie des participations supplémentaires<br> «PRENEZ-EN SOIN»</h1>
        <p>Photos et conseils soumis par les utilisateurs. Ces participants savent comment prendre soin de leur véhicule!</p>
        <a class="btn yellow" href="#/bonus-entry">Soumettez vos photos, vos trucs ou vos codes CUP</a>
        <div class="owl-carousel">
            <div class="item galleryGroup" ng-repeat="group in imgUrls">

                <div class="carouselPlaceHolder" ng-repeat="img in group">
                    <a href="{{img.imgUrl}}" data-imagelightbox="a">
                        <img src="{{img.imgUrl}}" width="200" height="200"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
