<section class="main_gallery" ng-controller="GalleryCtrl as gallery">
    <div class="container12" >
        <h1 style="color:#f6db20;">Bonus Entry RESPECT IT Gallery</h1>
        <p>User generated tips and photos – these entries know how to Respect It!</p>
        <a class="btn yellow" href="#/bonus-entry">Submit Your Photos, Tips or UPCs</a>
        <div class="owl-carousel">
            <div class="item galleryGroup" ng-repeat="group in imgUrls">

                <div class="carouselPlaceHolder" ng-repeat="img in group">
                    <a href="{{img.imgUrl}}" data-imagelightbox="a">
                        <img src="{{img.imgUrl}}" width="200" height="200"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
