<section class="main_bonusEntry">
    <div class="container12">
        <div class="column5">

            <!-- Entry Confirmation-->
            <div class="form_wrap">
                <h1>MERCI!</h1>
                <p>Merci d’avoir soumis un(e) ou des "CUP", "PHOTO", "CONSEILS" dans le cadre du concours «Prenez-en soin et gagnez-la!» d’Armor All<sup>®</sup>! Vous avez obtenu BULLETINS SUPPLÉMENTAIRES pour le tirage du grand prix.
                </p>
                <p>N’oubliez pas d’ouvrir une session tous les jours pour courir la chance de gagner un prix instantané.
                </p>
                <h3>Et ensuite?</h3>
                <p>Obtenez d’autres BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES pour le tirage du grand prix! Montrez-nous encore une fois comment vous prenez soin de votre véhicule:</p>
                <a href="" class="btn yellow vertical">CUP</a>
                <a href="" class="btn yellow vertical">Conseils</a>
                <a href="" class="btn yellow vertical">Photos</a>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>

    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>
