<section class="main_bonusEntry" ng-controller="BonusEntryCtrl as bonus">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Quelqu’un a-t-il dit participation<br>SUPPLÉMENTAIRE?</h1>
                <p>Eh oui, nous vous offrons plusieurs moyens de participer au tirage du grand prix. Augmentez vos chances de gagner une MINI Cooper 5 portes 2015 en suivant ces quelques étapes simples.
                </p>
                <!-- UPC-->
                <h3>SUPPLÉMENTAIRES POUR SOUMISSION DE CODES CUP</h3>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en soumettant le code CUP valide de tout produit Armor All<sup>®</sup>.</p>
                <a class="btn yellow vertical" ui-sref="upcEntry">SOUMETTRE</a>
                <!-- Tips-->
                <h3>BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES
                    POUR SOUMISSION DE CONSEILS D’ENTRETIEN AUTOMOBILE</h3>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en nous disant comment vous prenez soin de votre véhicule. Téléchargez vos conseils d’entretien automobile pour nous dire comment vous atteignez une perfection «salle de montre».
                </p>
                <a class="btn yellow vertical" ui-sref="tipsEntry">SOUMETTRE</a>
                <!-- Photos-->
                <h3>BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES
                    POUR SOUMISSION DE PHOTOS</h3>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en nous montrant comment vous prenez soin de votre véhicule. Téléchargez vos photos pour nous montrer comment vous atteignez une perfection «salle de montre».
                </p>
                <a class="btn yellow vertical" ui-sref="photoEntry">SOUMETTRE</a>
            </div>
        </div>
        <div class="column6">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>