<section class="main_bonusEntry" ng-controller="BonusEntryCtrl as bonus">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Did Someone<br>say bonus?</h1>
                <p>Yup, we’re providing even more ways to enter the Grand Prize Draw. BONUS!  Increase your chances of winning a 2015 MINI Cooper 5 Door car by taking these simple steps and show some respect.</p>
                <!-- UPC-->
                <h3>BONUS ENTRIES – UPC</h3>
                <p>Earn bonus entries into the Grand Prize Draw by entering a valid UPC from eligible Armor All<sup>®</sup> products.</p>
                <a class="btn yellow vertical" ui-sref="upcEntry">Submit</a>
                <!-- Tips-->
                <h3>BONUS ENTRIES – RESPECT IT CAR CARE TIPS</h3>
                <p>Earn bonus entries into the Grand Prize Draw by telling us how you Respect It – your car that is. Upload your car care tips to share with us how you get showroom perfection.</p>
                <a class="btn yellow vertical" ui-sref="tipsEntry">Submit</a>
                <!-- Photos-->
                <h3>BONUS ENTRIES – RESPECT IT CAR CARE PHOTOS</h3>
                <p>Earn bonus entries into the Grand Prize Draw by showing us how you Respect It – your car that is. Upload photos to show us how you get showroom perfection.</p>
                <a class="btn yellow vertical" ui-sref="photoEntry">Submit</a>
            </div>
        </div>
        <div class="column6">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>