<section class="bottom_mods" ng-controller="RespectBottomCtrl as respect">
    <div class="container12">
        <div class="column5" style="border-right: 1px solid #fff;">
            <h3>Respect it tips:</h3>
            <div class="tipsContainer scrollme" ng-scrollbar rebuild-on="rebuild:me">
                <ul>
                    <li class="tip" ng-repeat="tip in tips">
                        <p style="margin-bottom: 5px;">{{tip.tip}}</p>
                        <p style="font-style: italic; color: #f6db20;">{{tip.uid}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column6 prefix1">
            <h3>Respect it pictures:</h3>
            <ul style="margin-bottom: 10px;">
                <li><img src="assets/images/widgetThumbs/thumb_one.jpg" alt=""/></li>
                <li><img src="assets/images/widgetThumbs/thumb_two.jpg" alt=""/></li>
                <li><img src="assets/images/widgetThumbs/thumb_three.jpg" alt=""/></li>
                <li><img src="assets/images/widgetThumbs/thumb_four.jpg" alt=""/></li>
                <li><img src="assets/images/widgetThumbs/thumb_five.jpg" alt=""/></li>
               
            </ul>
            <a href="#/gallery" style=" color: #f6db20;">View more</a>
        </div>
    </div>
