<section class="main_register" ng-controller="IntroCtrl as intro">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>BULLETIN DE PARTICIPATION OFFICIEL</h1>
                <p>Merci de votre inscription au concours «Prenez-en soin et gagnez-la!» d’Armor All<sup>&reg;</sup>!</p>
                <!--If NOT WIN-->
                <p>Malheureusement, vous n’avez pas gagné de prix instantané cette fois-ci, mais vous avez obtenu un BULLETIN DE PARTICIPATION pour le tirage du grand prix. N’oubliez pas d’ouvrir une session tous les jours pour courir la chance de gagner un prix instantané.</p>
                </p>
                <h3>Et ensuite?</h3>
                <p>N’oubliez pas que vous pouvez aussi obtenir des BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES pour le tirage du grand prix! Alors, montrez-nous comment vous prenez soin de votre véhiculet:</p>
                <a href="" class="btn yellow vertical" ui-sref="upcEntry">CUP</a>
                <a href="" class="btn yellow vertical" ui-sref="tipsEntry">Conseils</a>
                <a href="" class="btn yellow vertical" ui-sref="photoEntry">Photos</a>
            </div>
        </div>
        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" class="mini_hero"/>
        </div>/>
    </div>
</section>