
<footer>
    <div class="container12">
        <div class="column12">
            <nav id="footer_nav">
                <ul>
                    <li><a href="http://www.armorall.com/" target="_blank">armorall.ca</a></li>
                    <li><a href="#/rules-and-regulations">rules &amp; regulations</a></li>
                    <li><a href="http://www.armorall.com/privacy-policy/" target="_blank">Privacy policy</a></li>
                    <li><a href=" http://www.armorall.com/terms-of-use/" target="_blank">terms conditions</a></li>
                    <li><a href="#/help">help?</a></li>
                    <li><a href="mailto:promotions@blazingtheagency.com" target="_blank">contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="column12">
            <p class="legal"><strong>*NO PURCHASE NECESSARY</strong>. Contest opens at 9 AM ET May 4 and closes at 5 PM ET Aug 14, 2015. Open to CDN residents of age of majority. One (1) Grand Prize consisting of a 2015 MINI Cooper 5 door car valued at approx $27,000 CDN available to be won. Prize not exactly as shown. Odds of winning Grand Prize depend on no. of eligible entries received. 1000 Instant Win Prizes with total ARV of $13,300 CDN ranging in value from $4 to $100 each available to be won. Limit 1 Instant Win prize per person/2 per household. Odds of winning an Instant Win prize depend on date and time of entry. Full Contest Rules at <a href="http://armorallrespect.ca">www.ArmorAllRespect.ca</a>. Sponsor: Armored AutoGroup Canada ULC. </p>
            <p class="legal">“MINI”, the logo, all model designations and MINI related marks, images and symbols are the exclusive property and/or trademarks of BMW AG, used with permission. MINI is not a sponsor of, nor a participant in, this promotion. Canadian Tire name, logos and trademarks are owned by Canadian Tire Corporation, Limited. All rights reserved. Canadian Tire Corporation, Limited is not a sponsor of, nor responsible or liable for, this Contest. ©2015 The Armor All/STP Products Company. All rights reserved.</p>
        </div>
    </div>
</footer>