<section class="main_intro" ng-controller="ForgotPassCtrl as forgot">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>Respect it &amp; <br><span>Win It<sup>*</sup></span></h1>
                <p>WINNING A MINI IS A PRIVILEGE THAT COULD BE YOURS!<sup>*</sup>
                    PLUS YOU COULD WIN* 1 OF 1,000 PRIZES INSTANTLY!</p>
                <a class="btn yellow" ui-sref="register">Register Now</a>
            </div>
            <div class="form_wrap">
                <h3>Forgot your password?</h3>
                <p>Please enter your email address</p>
                <form action="" method="" name="resetEmailForm">
                    <div class="formGroup" ng-class="{ 'has-error' : resetEmailForm.email.$invalid }">
                        <input type="email" name="email" placeholder="Email" ng-model="email">
                        <p class="help-block" ng-show="resetEmailForm.email.$invalid">Please enter a valid email.</p>
                    </div>
                    <a class="btn yellow eng" ng-click="resetEmailForm.$valid && forgot.sendEmail($event)">Submit</a>
                </form>
                <p>An email will be sent you shortly with instructions to reset.</p>
            </div>
            <img src="assets/images/canadiantire_disc.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>