<section class="main_gallery" ng-controller="GalleryCtrl as gallery">
    <div class="container12" >
        <h1 style="color:#f6db20;">Bonus Entry RESPECT IT Gallery</h1>
        <p>User generated tips and photos – these entries know how to Respect It!</p>
        <div class="owl-carousel">
            <div class="item galleryGroup">
                <div class="carouselPlaceHolder">
                    <a href="assets/images/galleryImages/car_2.jpg" data-imagelightbox="a">
                        <img src="assets/images/galleryImages/car_1.jpg"/>
                    </a>
                </div>
                <div class="carouselPlaceHolder">
                    <a href="assets/images/galleryImages/car_1.jpg" data-imagelightbox="a">
                        <img src="assets/images/galleryImages/car_2.jpg"/>
                    </a>
                </div>
                <div class="carouselPlaceHolder">
                    <img src="assets/images/galleryImages/car_3.jpg" alt=""/>
                </div>
                <div class="carouselPlaceHolder"><img src="assets/images/galleryImages/car_4.jpg" alt=""/></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
            </div>
            <div class="item galleryGroup">
                <div class="carouselPlaceHolder">slide 2</div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
            </div>
            <div class="item galleryGroup">
                <div class="carouselPlaceHolder">slide 3</div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
                <div class="carouselPlaceHolder"></div>
            </div>
        </div>
    </div>
</section>
