<header class="masthead">
    <div class="container12">
        <div class="columm12">
            <ul id="login_nav">
                <li><a href="#/login" ng-click="layout.logMe()">{{loginText()}}</a></li>
                <li><a href="" ng-click="layout.setTheLanguage()">| ENGLISH</a></li>
                <li><a href="" style="display: none;">| English</a></li>
                <li><a href="https://www.facebook.com/ArmorAllCanada" target="_blank"><img src="assets/images/facebook_icon.jpg" alt=""/></a></li>
                <li><a href="https://www.youtube.com/user/ArmorAllCanada" target="_blank"><img src="assets/images/youtube_icon.jpg" alt=""/></a></li>
            </ul>
        </div>
        <div class="column2">
            <a href="#/login"><img src="assets/images/main_logo.png" alt="" class="header_logo"/></a>
        </div>
        <div class="column2 second_title">
            <h2 style="font-size: 16px; margin-top: 20px; line-height: 22px;">PRENEZ-EN SOIN ET<br> <span style="font-size: 26px;">GAGNEZ-LA<sup>*</sup></span></h2>
        </div>
        <div class="column8 alpha">
            <div class="mobile-toggle" ng-click="layout.openMobileNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class='navigation'>
                <ul>
                    <li><a href="#/register" ng-hide="isLogged">Inscription</a></li>
                    <li><a href="#/how-to-play">Mode de participation</a></li>
                    <li><a href="#/bonus-entry">Participation supplémentaire</a></li>
                    <li><a href="#/gallery">Galerie</a></li>
                    <li><a href="#/prize-details">Description des prix</a></li>
                    <li><a href="#/new-products">Nouveaux produits</a></li>
                    <li><a href="#/winners">Gagnants</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
