<header class="masthead">
    <div class="container12">
        <div class="columm12">
            <ul id="login_nav">
                <li><a href="#/login" ng-click="layout.logMe()">{{layout.loginText()}}</a></li>
                <li><a href="" ng-click="layout.setTheLanguage()">| {{layout.languageText}}</a></li>
                <li><a href="" style="display: none;">| English</a></li>
                <li><a href="https://www.facebook.com/ArmorAllCanada" target="_blank"><img src="assets/images/facebook_icon.jpg" alt=""/></a></li>
                <li><a href="https://www.youtube.com/user/ArmorAllCanada" target="_blank"><img src="assets/images/youtube_icon.jpg" alt=""/></a></li>
            </ul>
        </div>
        <div class="column2">
            <img src="assets/images/main_logo.png" alt="" class="header_logo"/>
        </div>
        <div class="column2 second_title">
            <h2>Respect it &amp; <br> <span>Win it<sup>*</sup></span></h2>
        </div>
        <div class="column8 alpha">
            <div class="mobile-toggle" ng-click="layout.openMobileNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class='navigation'>
                <ul>
                    <li><a href="#/register">{{layout.buttonLanguages[layout.currentLanguage()][0]}}</a></li>
                    <li><a href="#/how-to-play">{{layout.buttonLanguages[layout.currentLanguage()][1]}}</a></li>
                    <li><a href="#/bonus-entry">{{layout.buttonLanguages[layout.currentLanguage()][2]}}</a></li>
                    <li><a href="#/gallery">{{layout.buttonLanguages[layout.currentLanguage()][3]}}</a></li>
                    <li><a href="#/prize-details">{{layout.buttonLanguages[layout.currentLanguage()][4]}}</a></li>
                    <li><a href="#/new-products">{{layout.buttonLanguages[layout.currentLanguage()][5]}}</a></li>
                    <li><a href="#/winners">{{layout.buttonLanguages[layout.currentLanguage()][6]}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
