<section class="main_help" ng-controller="HelpCtrl as help">
    <div class="container12">
        <div class="column6">
            <div class="form_wrap">
                <h1>Besoin d’aide?</h1>
                <p>Vous avez des questions au sujet de ce concours?</p>
                <p>N’hésitez pas à communiquer avec nous. Nous nous empresserons de vous répondre dans les plus brefs délais.</p>
                <p id="formstatus"></p>
                <form action="javascript:alert('success!');" method="post" id="contactform">
                    <input type="text" name="name" placeholder="*NOM COMPLET" ng-model="formData.name">
                    <input type="email" name="email" placeholder="*ADRESSE DE COURRIEL" required ng-model="formData.email">
                    <select ng-model="formData.reason">
                        <option value="">Sur quoi porte votre question?:</option>
                        <option value="How to enter">Mode de participation</option>
                        <option value="How to submit a photo or tip">Façon de soumettre une photo ou un conseil</option>
                        <option value="UPCs">Façon de soumettre un code CUP</option>
                        <option value="Other">Autre (veuillez préciser)</option>
                    </select>
                    <textarea rows="4" cols="50" name="message" placeholder="COMMENTAIRES:" ng-model="formData.message"></textarea>
                    <!-- <a class="btn yellow eng" ng-click="help.processForm( $event )">SOUMETTRE</a> -->
                    <div class="submitBtnWrapper">
                      <a class="btn yellow vertical" ng-click="help.processForm( $event )">SOUMETTRE</a>
                      <div class="spinner" ng-show="uploadingImgs">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>
                    </div>
                    <p class="help-block">{{showThankyouFR}}</p>
                </form>
            </div>
        </div>
        <div class="column6 hero_wrap">
            <img src="assets/images/product_hero.png" style="margin-top: 370px;" class="mini_hero"/>
        </div>
    </div>
</section>