<section class="main_register">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Congratulations!</h1>
                <p>You’ve won an instant prize – 1 {{prize}}. We will ship your prize to the address entered on the entry form within the next 6 – 8 weeks. Don’t forget to login daily for an additional instant win opportunity.
                </p>
                <img src="{{prize_img}}" alt=""/>
                <h3>What Next?</h3>
                <p>Don’t forget, you can also earn BONUS ENTRIES into the Grand Prize Draw! So go ahead, show us how you Respect It:</p>
                <a href="" class="btn yellow vertical" ui-sref="upcEntry">UPC</a>
                <a href="" class="btn yellow vertical" ui-sref="tipsEntry">TIPS</a>
                <a href="" class="btn yellow vertical" ui-sref="photoEntry">PHOTO TIPS</a>
            </div>
        </div>
        <div class="column7">

        </div>
    </div>
</section>
