<section class="main_intro" ng-controller="PassResetCtrl as reset">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>Respect it &amp; <br><span>Win It<sup>*</sup></span></h1>
                <p>WINNING A MINI IS A PRIVILEGE THAT COULD BE YOURS!<sup>*</sup>
                    PLUS YOU COULD WIN* 1 OF 1,000 PRIZES INSTANTLY!</p>
                <a class="btn yellow" ui-sref="register">Register Now</a>
            </div>
            <div class="form_wrap">
                <h3>Reset your password</h3>

                <form action="" method="" name="resetPassForm">
                    <div class="formGroup" ng-class="{ 'has-error' : resetPassForm.password.$invalid }">
                        <input type="password" name="password" placeholder="Password" ng-model="reset.pass" ng-minlength="8">
                        <p class="help-block" ng-show="resetPassForm.password.$invalid">Password must be at least 8 characters.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : resetPassForm.confPass.$invalid }">
                        <input type="password" name="confPass" placeholder="Confirm Password" ng-model="reset.passConf" match="reset.pass">
                        <p class="help-block" ng-show="resetPassForm.confPass.$error.match">Passwords must match.</p>
                    </div>
                    <div class="submitBtnWrapper">
                        <a class="btn yellow eng" ng-click="resetPassForm.$valid && reset.submit( $event )">Reset Password</a>
                        <div class="spinner" ng-show="uploadingImgs">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </form>
            </div>
            <img src="assets/images/canadiantire_disc.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>