<section class="main_bonusEntry" ng-controller="PhotoEntryCtrl as photo">
    <div class="container12">
        <div class="column5">

            <!-- Photo Entry-->
            <div class="form_wrap">
                <h1>BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES
                    POUR SOUMISSION DE PHOTOS</h1>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en nous montrant comment vous prenez soin de votre véhicule. Téléchargez vos photos pour nous montrer comment vous atteignez une perfection «salle de montre».
                    : </p>
                <p class="legal">Vous pouvez soumettre un maximum de cinq (5) photos. Cinq (5) bulletins supplémentaires seront attribués par soumission admissible (photo). Limite de cinquante (50) bulletins supplémentaires par personne et par adresse de courriel</p>
                <p class="help-block">Vous avez téléversé {{photo.currentPhotoEntryCount}} photos</p>
                <input type="text" placeholder="Télécharger une photo" class="left_half_field" ng-model="photo.files[0].name" ng-class="{ 'disable-it' : disableMe[0] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(1)" ng-class="{ 'disable-it' : disableMe[0] }">feuilleter</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser1" ngf-select ngf-change="photo.onFileSelect($files, 0)" ng-file-select/>
                </div>
                <input type="text" placeholder="Télécharger une photo" class="left_half_field" ng-model="photo.files[1].name" ng-class="{ 'disable-it' : disableMe[1] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(2)" ng-class="{ 'disable-it' : disableMe[1] }">feuilleter</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser2" ngf-select ngf-change="photo.onFileSelect($files, 1)" ng-file-select/>
                </div>
                <input type="text" placeholder="Télécharger une photo" class="left_half_field" ng-model="photo.files[2].name" ng-class="{ 'disable-it' : disableMe[2] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(3)" ng-class="{ 'disable-it' : disableMe[2] }">feuilleter</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser3" ngf-select ngf-change="photo.onFileSelect($files, 2)" ng-file-select/>
                </div>
                <input type="text" placeholder="Télécharger une photo" class="left_half_field" ng-model="photo.files[3].name" ng-class="{ 'disable-it' : disableMe[3] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(4)" ng-class="{ 'disable-it' : disableMe[3] }">feuilleter</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser4" ngf-select ngf-change="photo.onFileSelect($files, 3)" ng-file-select/>
                </div>
                <input type="text" placeholder="Télécharger une photo" class="left_half_field" ng-model="photo.files[4].name" ng-class="{ 'disable-it' : disableMe[4] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(5)" ng-class="{ 'disable-it' : disableMe[4] }">feuilleter</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser5" ngf-select ngf-change="photo.onFileSelect($files, 4)" ng-file-select/>
                </div>
                <p class="legal">Remarques:<br>
                    - Jouez selon les règles et prenez soin de soumettre un contenu approprié.<br>
                    - Les photos doivent être envoyées en format .jpg, .png ou .gif et ne doivent pas dépasser 5 Mo.<br>
                    - Les photos doivent comporter un titre et une description.<br>
                    - Veuillez compter de 24 à 48 heures pour l’examen des participations dans le cadre du processus de vérification.
                    <br>
                    - Consultez les lignes directrices et restrictions de contenu pour la soumission de photos et de conseils d’entretien automobile «Prenez-en soin».
                </p>
                <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="photo.uploadImages()">SOUMETRRE</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p class="help-block upload-error" ng-show="photo.currentPhotoEntryCount >= 5">Vous avez atteint la limite de téléchargement de 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 535px;" class="mini_hero"/>
        </div>
    </div>
    
    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>