<section class="main_prizeDetails">
    <div class="container12">
        <div class="column6">
            <div class="form_wrap">
                <h1>PRIX INSTANTANÉS:</h1>
                <p class="yellow_copy">Armor All<sup>®</sup> offre 1 000 prix instantanés pour vous aider à nettoyer, à faire briller et à protéger votre véhicule, à l’intérieur comme à l’extérieur.
                </p>

                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">Qté</th>
                    </tr>
                    <tr>
                        <td>Carte-cadeau Canadian Tire </td>
                        <td>10.00$</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Carte-cadeau Canadian Tire </td>
                        <td>25.00$</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>Carte-cadeau Canadian Tire </td>
                        <td>50.00$</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Carte-cadeau Canadian Tire </td>
                        <td>100.00$</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Emballage de 3 rafraîchisseurs d’air Armor All<sup>®</sup></td>
                        <td>3.99$</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Rénovateur pour plastique et garnitures Outlast<sup style="font-size:7pt;">MC</sup><br> d’ Armor All<sup>®</sup> 236 mL</td>
                        <td>19.99$</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Protecteur d' Armor All<sup>®</sup> Outlast<sup style="font-size:7pt;">MC</sup><br> 236 mL</td>
                        <td>12.49$</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Lustre pour pneus d' Armor All<sup>®</sup> Outlast<sup style="font-size:7pt;">MC</sup> en aérosol<br> 226 g</td>
                        <td>19.99$</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Rénovateur pour le cuir Outlast<sup style="font-size:7pt;">MC</sup> d' Armor All<sup>®</sup><br> 236 mL</td>
                        <td>13.99$</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Nettoyant pour vitres extrême Armor All<sup>®</sup> en aérosol <br> 567 g</td>
                        <td>8.49$</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Nettoyant pour pneus et jantes Quicksilver<sup style="font-size:7pt;">MC</sup><br> d' Armor All<sup>®</sup> 710 mL</td>
                        <td>12.99$</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
                <p class="yellow_copy" style="  margin-top: 10px;">Pour plus de détails sur le mode de participation et les chances de gagner, consultez le<br> <a href="#/rules-and-regulations">Règlement du Concours.

                </a></p>
            </div>
        </div>
        <div class="column6">
            <div class="grand_wrap">
                <div class="grand_prize">
                    <h1>GRAND PRIX:</h1>
                    <h3>MINI Cooper 5 portes 2015</h3>
                    <p>Le 17 août 2015, l’on procédera au tirage au sort du grand prix à partir de tous les bulletins de participation admissibles reçus.
                    </p>
                    <p>Pour jeter un coup d’œil aux caractéristiques de ce véhicule vraiment original et encore plus agréable à conduire qu’avant,<br> <a href="http://www.mini.ca/fr" style="text-decoration: underline;" target="_blank">cliquez ici!</a></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <img src="assets/images/prize_hero_fr.png" style="margin-top: 2px; position: relative;
  top: -80px;"/>
            </div>
        </div>
    </div>
</section>