<section class="main_prizeDetails">
    <div class="container12">
        <div class="column6">
            <div class="form_wrap">
                <h1>Instant<br> win prizes:</h1>
                <p class="yellow_copy">Armor All<sup>®</sup> is awarding 1,000 prizes instantly to help you Clean, Shine and Protect your ride on the inside and out.</p>

                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Value</th>
                        <th scope="col">QTY</th>
                    </tr>
                    <tr>
                        <td>Canadian Tire Gift Card</td>
                        <td>$10.00</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Canadian Tire Gift Card</td>
                        <td>$25.00</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>Canadian Tire Gift Card</td>
                        <td>$50.00</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Canadian Tire Gift Card</td>
                        <td>$100.00</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Armor All® Air Fresheners</td>
                        <td>$3.99</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Armor All® Outlast™ Trim & Plastic Restorer 236 mL</td>
                        <td>$19.99</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Armor All® Outlast™ Protectant 236 mL</td>
                        <td>$12.49</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Armor All® Outlast™ Tire Glaze Aerosol 226 g</td>
                        <td>$19.99</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Armor All® Outlast™ Leather Restorer 236 mL</td>
                        <td>$13.99</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Armor All® Extreme Glass Cleaner Aerosol 567 g</td>
                        <td>$8.49</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Armor All QuickSilver™ Tire & Rim Cleaner 710 mL</td>
                        <td>$12.99</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
                <p class="yellow_copy" style="  margin-top: 10px;">For full details on how to enter and odds of winning, see the<br> <a href="#/rules-and-regulations">Rules & Regulations</a></p>
            </div>
        </div>
        <div class="column6">
            <div class="grand_wrap">
                <div class="grand_prize">
                    <h1>Grand Prize:</h1>
                    <h3>2015 MINI Cooper 5 Door</h3>
                    <p>1 Grand Prize Winner will be randomly selected from all eligible entries on August 17, 2015.</p>
                    <p>To check out the features of this true original that is more fun to drive than ever before, <br> <a href="http://www.mini.ca/" style="text-decoration: underline;" target="_blank">Click Here!</a></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <img src="assets/images/prize_hero.png" style="margin-top: 2px; position: relative;
  top: -80px;"/>
            </div>
        </div>
    </div>
</section>