<section class="main_register" ng-controller="RegisterCtrl">
    <div class="container12">
        <div class="column6">
            <!--<div class="intro_title">-->
                <!--<h1>Respect it &amp; <span>Win It<sup>*</sup></span></h1>-->
                <!--<p>WINNING A MINI IS A PRIVILEGE THAT COULD BE YOURS!<sup>*</sup>-->
                    <!--PLUS YOU COULD WIN* 1 OF 1,000 PRIZES INSTANTLY!</p>-->
                <!--<a class="btn yellow" href="#">Register Now</a>-->
            <!--</div>-->
            <div class="form_wrap">
                <h1>Official Entry Form</h1>
                <p>Complete the entry form for 1 entry into the Instant Win and 1 entry into the Grand Prize Draw for a chance to WIN* a MINI Cooper 5 Door.</p>
                <p>Don’t forget to enter UPCs, tips and photos for additional bonus entries into the Grand Prize Draw!</p>
                <form action="" method="">
                    <input type="text" name="fname" placeholder="Email">
                    <input type="text" name="lname" placeholder="Password">
                    <input type="text" name="lname" placeholder="Confirm Password">
                    <label for="message">Enter the code above here :</label>
                    <input id="6_letters_code" name="6_letters_code" type="text">
                    <label>Forgot Password?</label>
                    <input type="submit" value="Sign in">
                </form>
            </div>
        </div>
        <div class="column8">

        </div>
    </div>
</section>