<section class="main_rulesDetails">
    <div class="container12">
        <div class="form_wrap">
            <h1>Rules and Regulations</h1>
            <p>This Contest is intended for residents of Canada who have reached the age of majority in their province or territory of residence by the Contest Closing Date and will be interpreted according to Canadian Law. This Contest is being conducted by Armored AutoGroup Canada ULC hereinafter referred to as the “Sponsor”.
            </p>
            <p><strong>NO PURCHASE NECESSARY TO ENTER OR WIN</strong></p>
            <h3>HOW TO ENTER</h3>
            <p>The Contest begins on or about 9:00 AM (ET) May 4, 2015 and ends with all entries submitted online by 5:00 PM (ET) on August 14, 2015, the “Contest Closing Date” (hereinafter referred to as the “Contest Period”).</p>
           <p>1. To enter online and become eligible for the Armor All<sup>®</sup> Respect It & Win It! Grand Prize Draw, go to <a href="http://ArmorallRespect.ca">www.ArmorallRespect.ca</a> and complete and submit the online registration form. Each online registrant will automatically be entered into the Contest and receive one (1) entry into the Grand Prize draw. Limit one (1) contest registration (worth one (1) standard entry) per person during the Contest Period. Limit two (2) contest registrations per household. For greater certainty and the avoidance of any doubt, you may only use one (1) email address to enter or otherwise participate in this Contest. All information indicated on the online entry registration form must be completed for the entry to be eligible. Any attempt to use multiple email addresses or to enter more than the stated maximum number of entries may result in disqualification. Automated entries are prohibited. Entrant may enter only on behalf of himself or herself. By submitting an online entry form, each Contestant agrees and consents to abide by these Official Contest rules and by the decisions of the Sponsor and the independent Contest judging organization, which shall be final and binding in all matters related to this Contest.</p>
            <p>2. <strong>Entries for UPC</strong>
                Earn bonus entries into the Grand Prize Draw only, when, during the Contest Period, you enter a valid UPC from any participating Armor All<sup>®</sup> product with your online entry.   You may enter a maximum of five (5) UPCs from participating products per person/per email address.  Maximum of twenty-five (25) UPC bonus entries per person/per email address will be accepted.
            </p>
            <p>To obtain a UPC without purchase, send a self-addressed stamped envelope bearing sufficient postage to “Armor All<sup>®</sup> Respect It & Win It! UPC Request”, P.O. Box 61012, Oakville, ON, L6J 6X0 and request that one (1) UPC be mailed to you. One (1) UPC will be mailed which you may use to enter online at <a href="http://ArmorallRespect.ca">www.ArmorallRespect.ca</a> before the Contest Closing Date in order to earn five (5) bonus entries into the Grand Prize Draw. Mail-in UPC requests must be received by no later than August 5, 2015. Sponsor is not responsible for any mail-in UPC requests that are lost, misdirected, illegible, damaged, incomplete, late or mutilated. There is an overall limit of five (5) UPC bonus entry opportunities per person regardless of the means by which the eligible UPCs are obtained.</p>
            <p><strong> Entries for Showing Us How You “RESPECT IT” with Car Care Tips and Photos</p></strong>

               <p> Upload your photo and show us how you “Respect” your vehicle. Alternatively, send us your car care tip in an essay of one hundred (100) words or less. Entries do not need to feature Armor All<sup>®</sup> product in order to be eligible. Entries will not be judged. Entries may initially be screened by the Sponsor for apparent compliance with the Official Rules; please allow at least 24 to 48 hours for your Entry to be reviewed during the screening process. Submission of a Photo or Car Care Tip (the “Submission”) on the website is not a confirmation, representation or warranty by the Sponsor or any of its representatives that the Entry is compliant with these Rules. Sponsor reserves the right to post your Photo or Car Care Tip on the Website and/or via Sponsor’s (and those of its parent company and worldwide affiliates) social media pages/accounts, in its sole discretion without notification or compensation. Sponsor’s decision with respect to whether a Submission complies with these Official Rules is final and binding and may be made by Sponsor at any time, whether before, or after, posting. Submissions that do not meet the requirements set forth in these Official Rules may not be acknowledged or posted and may be automatically disqualified, in the sole discretion of the Sponsor. In addition, by uploading a Submission, and in order to qualify for bonus entries, you agree that your Submission conforms to the “Respect It” Photo & Car Care Tips Guidelines and Content Restrictions (collectively, the Guidelines and Restrictions”) and that the Sponsor, in its sole discretion, may remove your Submission and disqualify you from the “Respect It” Bonus Entries if it believes that your Submission fails to conform to the Guidelines and Restrictions as appended to these Rules.</p>
            <p><strong>During the Contest Period, you may submit a maximum of five (5) photos and five (5) car care tips. Five (5) bonus entries will be awarded for each qualifying Submission (photo or car care tip). The total maximum number of “Respect It” bonus entries per person/per email address is fifty (50). </strong></p>
            <p><strong>ARMOR ALL<sup>®</sup> RESPECT IT & WIN IT GRAND PRIZE</strong></p>

            <p><strong>There is one (1) Grand Prize available to be won consisting of a 2015 MINI Cooper 5 Door car valued at approximately $27,000 CDN (including freight but exclusive of tax, title and license charges), hereinafter referred to as “the Vehicle”.</strong></p>
            <p>The difference in value as stated herein and value at time of prize notification, if any, will not be awarded in cash or otherwise. Any upgrades and options not specified herein are at the sole expense of the Grand Prize Winner. Package, factory options, and other specifics will be determined by Sponsor, and are subject to availability. Sponsor reserves the right to substitute package, trim level, options or model year for any reason in Sponsor’s sole discretion. Eligible Grand Prize Winner must be a licensed driver and must present a current valid Canadian driver's license and proof of insurance prior to taking possession of the Vehicle. Failure to show same may result in Grand Prize forfeiture and selection of an alternate potential Winner. The eligible Grand prize winner is responsible for all associated fees including title, license, insurance, registration, including any travel, gas, and transportation costs associated with collecting the Vehicle. All other costs not specifically stated herein as being included in the Grand Prize are the responsibility of the Grand Prize Winner. The Grand Prize Winner must take delivery of the Vehicle from the designated MINI authorized dealer nearest to the eligible Grand Prize Winner’s residence within thirty (30) days after the all associated fees including title, license, insurance, registration, including any travel, gas, and transportation costs associated with collecting the Vehicle. All other costs not specifically stated herein as being included in the Grand Prize are the responsibility of the Grand Prize Winner. The Grand Prize Winner must take delivery of the Vehicle from the designated MINI authorized dealer nearest to the eligible Grand Prize Winner’s residence within thirty (30) days after the espective affiliated companies, agencies, and each of their respective officers, directors, employees, related entities, partners, principals, representatives, agents, licensees, sponsors,  and each of their respective affiliates, successors and assigns (collectively, the “Contest Group”), makes any warranties, representations or guarantees, express or implied, in fact or in law, relative to the use or enjoyment of the Vehicle, including, without limitation, its quality, mechanical condition, merchantability or fitness for a particular purpose. Any and all guarantees and warranties for the Grand Prize are subject to the manufacturer’s terms and conditions, and the winner agrees to look solely to such manufacturer for any such warranty or guarantee claim.</p>
            <h3>TERMS AND CONDITIONS OF GRAND PRIZE*</h3>
            <p><strong>*Grand Prize Presentation:</strong>the Grand Prize Presentation (hereinafter referred to as the “Presentation”) is expected to take place at the Canadian Tire Products Parade in Toronto, Ontario on or about September 18th-20th 2015 (hereinafter referred to as the “Specified Presentation Date”).  The selected Grand Prize Winner will be invited to travel to Toronto for the Presentation in person to accept the Prize.  The Specified Presentation Date may be subject to change in the event that the Canadian Tire Products Parade is rescheduled for any reason.  The Vehicle itself will be delivered to the Grand Prize Winner by the designated MINI authorized dealer nearest to the eligible Grand Prize Winner’s residence in accordance with these Rules.
            </p>
            <p>The Sponsor will pay the travel expenses of the Grand Prize Winner (if required, in the Sponsor’s sole discretion) to attend the Presentation as follows:</p>
            <ul style="margin:1em;">
                <li style="color:#fff;">Economy class airfare for (1) person from the major airport nearest to the Grand Prize Winner’s residence to Toronto, Ontario on the day before the Specified Presentation Date on or about September 18th, 2015 and return economy class airfare for one (1) person to the major airport nearest to the Grand Prize Winner’s residence on the day following the Presentation Date.</li>
                <li style="color:#fff;">Ground transfer from airport to hotel and hotel to airport</li>
                <li style="color:#fff;">Standard hotel accommodations for one (1) person for two (2) nights in downtown Toronto</li>
                <li style="color:#fff;">$250 in spending money</li>
            </ul>
            <p>All costs not specified above including, but not limited to, meals, local transportation, connecting flights if required, travel documents, insurance (including health insurance), telephone, internet, fax and email charges, room service charges, meals and beverages not described as included above, sightseeing and optional excursions, spa services and items of a personal nature are the sole responsibility of the Grand Prize Winner and are not included in the Grand Prize.  No frequent flyer miles will be awarded to the Grand Prize Winner.  No Change in travelling arrangements can be made once the booking has been confirmed.  In the event that the selected Grand Prize winner is unable to redeem any or all of the Grand Prize due to reasons beyond the reasonable control of the Sponsor, no compensation or substitute prize component will described as included above, sightseeing and optional excursions, spa services and items of a personal nature are the sole responsibility of the Grand Prize Winner and are not included in the Grand Prize.  No frequent flyer miles will be awarded to the Grand Prize Winner.  No Change in travelling arrangements can be made once the booking has been confirmed.  In the event that the selected Grand Prize winner is unable to redeem any or all of the Grand Prize due to reasons beyond the reasonable control of the Sponsor, no compensation or substitute prize component will Grand Prize Winner’s right to receive the above-noted Grand Prize is subject to his/her signing the applicable agreements as presented by the designated dealer including but not limited to the Declaration of Compliance and Release Form.</p>
            <h3>GRAND PRIZE DRAW</h3>

            <p><strong>Armor All<sup>®</sup> Respect It & Win It Grand Prize Draw:</strong> One (1) Grand Prize Winner will be randomly selected from all eligible entries received by the independent Contest administration and judging organization on August 17, 2015 at approximately 10:00 AM (ET) in Oakville, Ontario. The odds of winning the Grand Prize depend on the total number of eligible entries received. Selected entrant will be notified by telephone. To be declared a winner, the selected entrant must first correctly answer without assistance of any kind, whether mechanical or otherwise, a time-limited mathematical skill-testing question to be administered by telephone. The Grand Prize Winner will also be required to sign and return a Declaration of Compliance and Release form (which confirms compliance with these Official Contest Rules and releases the “Contest Group” from all liability with respect to the entrant’s participation in this Contest and the awarding and use and/or misuse of the Prize) within ten (10) business days of notification in order to receive his/her prize. If the selected entrant cannot be contacted by telephone within five (5) business days of the Grand Prize Draw, fails to return the Contest documents within the specified time or incorrectly answers the skill-testing question, he/she will forfeit the Grand Prize and an alternate winner will be randomly selected from all eligible entrants. Decisions of the independent Contest administration and judging organization will be final.</p>

            <h3>ONLINE INSTANT WIN PRIZES</h3>
            <p>Throughout the Contest Period, one-thousand (1,000) Online Instant Win Prizes will be randomly awarded. One-thousand (1,000) winning times will be randomly computer-generated throughout the Contest Period. If you are the first person to successfully enter the Contest on or after one of the randomly generated times, and you receive the Respect It & Win It Prize message, you will be an eligible winner of one (1) of the following prizes:
            </p>

 <table width="800" border="1" bordercolor="#E1E1E1">
  <tbody>
    <tr>
      <td scope="col">Respect It & Win It! Prize Pool</td>
    </tr>
    <tr>
      <td>Instant Win</td>
    </tr>
    <tr>
      <td><table width="800" border="1" bordercolor="#E1E1E1">
        <tbody>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Value</th>
            <th scope="col">QTY</th>
            <th scope="col">ARV</th>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$10.00</td>
            <td>90</td>
            <td>$900.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$25.00</td>
            <td>35</td>
            <td>$875.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$$50.00</td>
            <td>15</td>
            <td>$750.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$100.00</td>
            <td>10</td>
            <td>$1,000.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Air Fresheners  Pack of 3</td>
            <td>$3.99</td>
            <td>250</td>
            <td>$997.50</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Trim & Plastic Restorer 236 mL</td>
            <td>$19.00</td>
            <td>100</td>
            <td>$1,999.00</td>
          </tr>
          <tr>
            <td>Amor All<sup>®</sup> Outlast<sup>™</sup> Protectant 236 mL</td>
            <td>$12.49</td>
            <td>100</td>
            <td>$1,249.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Tire Glaze Aerosol 226 g</td>
            <td>$19.99</td>
            <td>100</td>
            <td>$1,999.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Leather Restorer 236 mL</td>
            <td>$13.99</td>
            <td>100</td>
            <td>$1,399.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Extreme Glass Cleaner Aerosol 567 g</td>
            <td>$8.49</td>
            <td>100</td>
            <td>$849.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> QuickSilver<sup>™</sup> Tire & Rim Cleaner 710 mL</td>
            <td>$12.99</td>
            <td>100</td>
            <td>$1,299.00</td>
          </tr>
          <tr>
            <td>Total Instant Win</td>
            <td></td>
            <td>1000</td>
            <td>$13,316.50</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>



            <p><strong>There is a total of 1,000 Instant Win Prizes available to be won during the Contest Period valued at approximately $13,316.50. </strong></p>

            <p>Sponsor reserves the right, in the event that a selected Instant Win Prize cannot be awarded as described for any reason, to substitute another prize of equal or greater value, without liability. The odds of receiving an Instant Win message will depend on the date and time an entrant completes the online registration form and the number of online instant win prizes remaining to be won at the time of Contest registration. If no one enters the Contest at the pre-determined time, the next entrant to enter the Contest immediately following that predetermined time will be eligible to win. Online Instant Win prizes unclaimed on the day they become available to be won will be carried over to subsequent day(s) during the Contest Period and be available to be won by the next eligible Contest entrant.  Once registered, you may log in again once per day during the Contest Period (a “day” begins at 12 Midnight ET and ends at 11:59:59 PM ET, except that on May 4, 2015 a “day” begins at 9:00 AM ET and on August 14, 2015, a “day” closes at 5:00 PM ET) for another chance to win an Instant Win Prize.
            </p>
            <p>If, due to any electronic or other error, more Online Instant Win Prizes are claimed/designated than are to be awarded, the prizes remaining after this error is discovered will be awarded in a random drawing from among all eligible Online Instant Win Prize claims received by the Contest Closing Date. In no event will the Sponsor be liable for more than one thousand (1,000) Online Instant Win Prizes. Limit one (1) Online Instant Win Prize per person/email address. Limit two (2) Online Instant Win Prizes per household. All eligible prize message recipients will be directed to the prize claiming instructions provided on the Contest website and will be required to correctly answer a mathematical skill-testing question. </p>
            <p>Online Instant Win Prize Winner(s) may also be required to sign and return an eligibility and liability/publicity release within ten (10) business days of notification in order to receive his/her prize. If the selected entrant fails to return the Contest documents within the specified time or incorrectly answers the skill-testing question administered online, he/she will forfeit the Online Instant Win Prize and an alternate winner will be randomly selected from among all remaining eligible entrants who have not won an Instant Win Prize at Contest Closing Date.</p>
            <p>Online Instant Prize Winners remain eligible to win the Grand Prize in the Armor All<sup>®</sup> Respect It Grand Prize Draw. </p>
            <p>All Online Instant Win Prizes will be shipped directly to the mailing address provided on the Contest registration form within six (6) to eight (8) weeks of prize award. All potential Online Instant Win Prize Winners are subject to verification by Sponsor, whose decisions are final and binding. A “screen shot” is not proof or evidence of a winning entry and/or prize. A Contestant is not a winner of any prize, even if the online win notification should so indicate, unless and until said Contestant’s eligibility and potential winning entry have been verified. Sponsor will not accept screen shots or other evidence of winning in lieu of its validation process. Any Online Win notification that occurs after the system has failed for any reason is deemed void and will not be honored. </p>
            <p>All Prize(s) must be accepted as awarded. Prize(s) are not redeemable for cash or credit, in whole or in part. Some restrictions apply. In the event that any winner is unable to accept any or all of the Prize components due to reasons beyond the control of the Sponsor, no compensation or substitute prize components will be provided. All prize components and prizes are awarded as is, without any warranty whatsoever from the Contest Group, including, without limitation, any warranty of merchantability or suitability for a particular purpose or any warranty that the prize component or prize is without defects or hidden vices, and such acceptance shall constitute an agreement by the winner to look solely to the manufacturer and the warranty provided by it, if any, should any defects in the prize exist. All prize winners acknowledge that the only warranty applicable to their prize is the standard manufacturer’s warranty.</p>
            <p>Canadian Tire Gift Cards are subject to cardholder terms and conditions.</p>
            <p>None of the Contest Group shall be responsible in any way or bear any liability whatsoever in any way attributable to this Contest or a prize awarded in this Contest. By entering the Contest, entrant releases and holds the Contest Group harmless from any and all liability for any injuries, loss or damage of any kind to the entrant or any other person, including personal injury, death, or property damage, resulting in whole or in part, directly or indirectly, from acceptance, possession, use or misuse of any prize, participation in the Contest, any breach of the Contest Rules, or in any prize-related activity. The entrant agrees to fully indemnify the Contest Group from any and all claims by third parties relating to the Contest, including without limitation any claims of infringement or rights to copyright, privacy and/or personality. None of the Contest Group, nor the Contest administration and judging organization, are responsible for any problems or technical malfunctions of any telephone network or lines, computer online systems or servers, computer software problems or traffic congestion on the Internet or at any website or assume any liability for damage to entrant’s or any person’s computer resulting from participating in the Contest. In the event of a dispute as to the identity of a winner based on an email address, the winning entry will be deemed to be made by the authorized account holder of the email address at the time of entry. “Authorized account holder” is the natural person who is assigned an email address by an Internet Service Provider or other organization responsible for assigning email addresses for the domain associated with the email address in question.
            </p>

            <p><strong>ELIGIBILITY:</strong>This Contest is open to legal residents of Canada who have reached the age of majority in their province or territory of residence by Contest Closing Date except employees (and persons with whom they are domiciled) of the Contest Group.</p>

            <p><strong>GENERAL:</strong>This Contest is subject to all applicable federal, provincial and municipal laws and regulations. By entering the Contest, participants agree to be bound by these official rules and by the decisions of the Sponsor, the independent administration and judging organization, which shall be final in all matters relating to this Contest. All entries become the property of the Sponsor and none will be returned. The Sponsor is collecting personal data about entrants for the sole purpose of administering and publicizing this Contest. No further informational or marketing communications will be received by entrants unless entrants provide Sponsor (and its promotional partners and agencies) with explicit permission to send communications as indicated on the online entry form. By completing the entry form, all entrants consent to the collection, use and distribution of their personal information by the Sponsor for the purposes of administering the Contest (information is stored for approximately 1 year). For information on Sponsor’s use of personal information in connection with this Contest, see posted Privacy Policy at http://www.armorall.com/privacy-policy. By entering this Contest, winners consent to the use of their entry, name, address, personal photograph and/or likeness in publicity carried out by the Sponsor and/or its agencies without further notice or compensation. If, for any reason, the online portion of this Contest is not capable of being completed as planned including, but not limited to, computer virus, bugs, tampering, technical failures or other causes beyond the control of the Sponsor, the Sponsor reserves the right, in its sole discretion, subject to the approval of the Régie in Québec, to cancel or suspend this Contest or modify the Contest rules at any time without notice. Any attempt to deliberately damage any website or to undermine the legitimate operation of this Contest is a violation of criminal and civil laws, and should such an attempt be made, Sponsor reserves the right to seek remedies and damages to the fullest extent permitted by law, including criminal prosecution.
                None of the Contest Group or any of their respective agents or representatives, officers, employees or directors shall be responsible in any way or bear any liability whatsoever in any way attributable to this Contest or a prize awarded in this Contest.
            </p>
            <p>For residents of Québec, any litigation respecting the conduct or organization of a publicity contest may be submitted to the Régie des alcools, des courses et des jeux for a ruling. Any litigation respecting the awarding of a prize may be submitted to the Régie des alcools, des courses et des jeux, only for the purpose of helping the parties reach a settlement. </p>
            <p>In the event of any discrepancy or inconsistency between the terms and conditions of these Rules and disclosures or other statements contained in any Contest-related materials, the terms and conditions of these Rules shall prevail, govern and control to the fullest extent permitted by law. In the event of any discrepancy or inconsistency between the English language version and the French language version of the Contest Rules, the English version shall prevail, govern and control. </p>
            <h3>Submission Guidelines</h3>
            <ul style="margin:1em;">
                <li style="color: #fff;">The Submission must be in .jpg, .png or .gif format </li>
                <li style="color: #fff;">Photograph submission must not exceed 5 MB in size</li>
                <li style="color: #fff;">Submission must contain a title and description</li>
                <li style="color: #fff;">Submission’s title and description must be in English or French; and</li>
                <li style="color: #fff;">The Submission cannot have been submitted previously in a Contest of any kind or exhibited or displayed publicly through any means.
                </li>
            </ul>
            <p>By participating in this Contest, each entrant agrees to be bound by these official Rules (the “Rules”) and by the interpretation of these Rules by the Sponsor in its sole discretion, and further warrants and represents that his or her photo or care car tip Submission:</p>
            <p>The Sponsor reserves the right, in its sole discretion, to edit or modify any Submission, or to request an entrant to modify or edit his or her Submission, in order to ensure that the Submission complies with these Rules, or for any other reason.
            </p>
            <p>By entering the Contest and submitting the Photo or Car Care Tip Submission, each entrant: (i) grants to the Sponsor, its parent company in United States, and its worldwide affiliates, in perpetuity, a worldwide, non-exclusive licence to publish, display, reproduce, modify, edit or otherwise use the Submission, in whole or in part, for advertising or promoting the Contest or for any other reason;  (ii) waives all moral rights in and to his her Submission in favour of the Sponsor; and (iii) agrees to release and hold harmless the Contest Group and each of its respective agents, employees, directors and successors against any and all claims based on publicity rights, defamation, invasion of privacy, copyright infringement, trademark infringement or any other 3rd party or intellectual property-related cause of action. If requested, the entrant will sign any documentation that may be required for Sponsor or its designees to make use of the non-exclusive rights entrant is granting to use the Submission. </p>
        </div>
    </div>
</section>