<section class="main_rulesDetails">
    <div class="container12">
        <div class="form_wrap">
            <h1>Règlement du concours</h1>
            <p>Ce concours s’adresse aux résidants du Canada qui ont atteint l’âge de la majorité dans leur province ou territoire de résidence à la date de clôture du concours. Il sera interprété et régi conformément aux lois canadiennes. Ce concours est mis en œuvre par Armored AutoGroup Canada ULC (ci-après appelée le « commanditaire »).
            </p>
            <p><strong>AUCUNE OBLIGATION D’ACHAT POUR PARTICIPER OU GAGNER.
            </strong></p>
            <h3>MODE DE PARTICIPATION</h3>
            <p>Le concours commence à ou vers 9:00 (HE) le 4 mai 2015 et se termine à 17:00 (HE) (heure de réception de tous les bulletins de participation en ligne) le 14 août 2015, « date de clôture du concours » (ci-après appelée la « période du concours »). </p>
            <p>1. Pour participer en ligne et devenir admissible au tirage du grand prix dans le cadre du concours « Prenez-en soin et gagnez-la! » d’Armor All<sup>®</sup>, visitez <a href="http://ArmorallRespect.ca">www.ArmorallRespect.ca</a>  puis remplissez et soumettez le bulletin de participation en ligne. Chaque participant en ligne sera automatiquement inscrit au concours et obtiendra alors un (1) bulletin de participation au tirage du grand prix. Limite d’une (1) inscription au concours (équivalant à un (1) bulletin de participation standard) par personne pendant la période du concours. Limite de deux (2) inscriptions au concours par foyer. Pour plus de précision et pour éviter toute ambiguïté, vous ne pouvez utiliser qu’une (1) seule adresse de courriel pour vous inscrire ou participer à ce concours et vous devez fournir tous les renseignements demandés sur le bulletin de participation en ligne pour être admissible au tirage. Toute tentative visant à utiliser plusieurs adresses de courriel ou à participer plus souvent que la limite ne le permet pourrait entraîner l’exclusion du participant. Les bulletins de participation automatisés sont interdits. Les participants ne peuvent s’inscrire qu’en leur nom personnel. En soumettant un bulletin de participation en ligne, chaque participant convient et accepte de se conformer au règlement officiel du concours et aux décisions de l’entreprise indépendante chargée de gérer et de juger le concours, qui seront finales et exécutoires en ce qui touche tous les aspects du concours.</p>
            <p>2. <strong>Bulletins de participation supplémentaires pour soumission de codes CUP</strong>
                Vous pouvez obtenir cinq (5) bulletins supplémentaires pour le tirage du grand prix en soumettant, durant la période du concours, le code CUP valide de tout produit Armor All<sup>®</sup> participant avec votre participation en ligne. Vous pouvez soumettre un maximum de cinq (5) codes CUP provenant des produits Armor All<sup>®</sup> participants par personne et par adresse de courriel. Un maximum de vingt-cinq (25) bulletins supplémentaires pour soumission de codes CUP seront acceptés par personne et par adresse de courriel.

            </p>
            <p>Pour obtenir un code CUP sans achat, veuillez demander à recevoir un (1) code CUP par la poste et envoyer votre demande, accompagnée d’une enveloppe-réponse suffisamment affranchie, à : Demande de code CUP pour le concours « Prenez-en soin et gagnez-la ! » d’Armor All<sup>®</sup>, C.P. 61012, Oakville, ON, L6J 6X0. Vous recevrez alors un (1) code CUP, que vous pourrez saisir en ligne à  <a href="http://ArmorallRespect.ca">www.ArmorallRespect.ca</a> avant la fin du concours afin d’obtenir cinq (5) bulletins supplémentaires pour le tirage du grand prix. Les demandes de code CUP sans achat doivent nous parvenir au plus tard le 5 août 2015. Le commanditaire n’est pas responsable des demandes de code CUP perdues, mal acheminées, illisibles, endommagées, incomplètes, livrées en retard ou mutilées. Chaque participant a jusqu’à cinq (5) possibilités de soumettre des codes CUP pour l’obtention de bulletins supplémentaires, peu importe le moyen par lequel les codes CUP admissibles ont été obtenus.
            </p>
            <p><strong> Bulletins de participation supplémentaires pour soumission de photos « PRENEZ-EN SOIN » ou de conseils d’entretien automobile
            </p></strong>

            <p> Vous pouvez obtenir des bulletins supplémentaires en téléchargeant une photo qui montre comment vous prenez soin de votre véhicule ou en nous faisant part d’un conseil d’entretien automobile dans un texte de cent (100) mots ou moins. Pour être admissibles, les participations ne doivent pas nécessairement mettre en vedette un produit Armor All<sup>®</sup>. Les participations ne seront pas soumises à un processus de sélection. Les soumissions peuvent d’abord être examinées par le commanditaire pour assurer leur conformité préliminaire au présent règlement officiel. Veuillez compter de 24 à 48 heures pour l’examen des soumissions. La soumission d’une photo ou d’un conseil d’entretien automobile (la « soumission ») à partir du site du concours ne constitue pas une confirmation, une déclaration ni une garantie de la part du commanditaire ou de ses représentants que la soumission est conforme au règlement. Le commanditaire se réserve le droit, à son entière discrétion, d’afficher une photo ou un conseil d’entretien automobile sur son site Web et/ou sur ses pages ou comptes de réseaux sociaux (ou celles de sa société mère et de ses sociétés affiliées dans le monde), et ce, sans préavis ni compensation. Les décisions du commanditaire quant à la conformité des soumissions au règlement officiel seront finales et obligatoires, et peuvent être prises à tout moment par le commanditaire, que ce soit avant ou après l’affichage en ligne. Les soumissions non conformes aux exigences énoncées dans ce règlement officiel ne feront pas l’objet d’un accusé de réception, ne seront pas affichées et pourraient être automatiquement exclues du concours à l’entière discrétion du commanditaire. De plus, en téléchargeant une soumission et afin d’obtenir des bulletins supplémentaires, vous garantissez que votre soumission respecte les lignes directrices et les restrictions de contenu pour la soumission de photos « Prenez-en soin » et de conseils d’entretien automobile (collectivement, les « lignes directrices et restrictions »), et vous acceptez que le commanditaire puisse, à son entière discrétion, retirer votre soumission et annuler vos bulletins de participation supplémentaires s’il juge que votre soumission n’est pas conforme aux lignes directrices et restrictions annexées au présent règlement.</p>
            <p><strong>Pendant toute la durée du concours, vous pouvez soumettre un maximum de cinq (5) photos et de cinq (5) conseils d’entretien automobile. Cinq (5) bulletins supplémentaires seront attribués par soumission admissible (photo ou conseil d’entretien automobile). Limite de cinquante (50) bulletins supplémentaires « Prenez-en soin » par personne et par adresse de courriel.   </strong></p>
            <p><strong>GRAND PRIX DANS LE CADRE DU CONCOURS « PRENEZ-EN SOIN ET GAGNEZ-LA ! » D’ARMOR ALL<sup>®</sup></strong></p>

            <p><strong>Il y a un (1) grand prix à gagner, soit une MINI Cooper 5 portes d’une valeur approximative au détail de 27 000  $ CAN, incluant les frais de transport, mais excluant les taxes, les frais de titre de propriété et les droits d’immatriculation (dénommée ci-après le « véhicule »).
            </strong></p>
            <p>La différence entre la valeur du prix susmentionnée et celle du prix au moment de la notification, le cas échéant, ne sera pas attribuée en espèces ni sous toute autre forme de contrepartie. Les montées en gamme et les options qui ne sont pas expressément mentionnées dans les présentes sont à la charge du gagnant du grand prix. La configuration du véhicule, les options installées en usine et autres caractéristiques seront déterminées par le commanditaire et dépendront de la disponibilité des stocks. Le commanditaire se réserve le droit, à son entière discrétion, de remplacer la configuration du véhicule, la version, les options ou l’année du modèle pour quelque raison que ce soit. Le gagnant admissible au grand prix doit détenir un permis de conduire valide au Canada et devra présenter son permis de conduire ainsi qu’une preuve d’assurance avant de prendre possession du véhicule, à défaut de quoi il pourrait perdre son droit au grand prix, et le commanditaire pourrait alors procéder à la sélection d’un autre gagnant potentiel. Le gagnant du grand prix doit également payer tous les coûts associés, incluant les frais de titre de propriété, les droits d’immatriculation, les frais d’assurance ainsi que les frais de voyage, de transport ou d’essence encourus pour prendre possession du véhicule. Tous les autres coûts qui ne sont pas expressément mentionnés dans les présentes comme faisant partie du grand prix sont à la charge du gagnant. Le gagnant du grand prix doit prendre possession du véhicule chez le concessionnaire MINI autorisé le plus proche de sa résidence, qui lui a été désigné par le commanditaire, et ce, dans les trente (30) jours suivant la livraison du véhicule chez ledit concessionnaire, à défaut de quoi le gagnant du grand prix perdrait automatiquement son droit au véhicule (à l’entière discrétion du commanditaire), tel qu’il est indiqué au paragraphe ci-dessous intitulé « Présentation du grand prix »*. La livraison du grand prix dépend de la disponibilité des stocks. Sauf indication contraire dans la garantie limitée du constructeur du véhicule, le commanditaire du concours, La Société Canadian Tire Limitée, l’Association des marchands Canadian Tire, leurs partenaires promotionnels, sociétés affiliées et agences, les fournisseurs de prix et tous leurs dirigeants, directeurs, employés, entités connexes, partenaires, propriétaires, représentants, agents, mandataires, détenteurs de licences et commanditaires respectifs, ainsi que leurs sociétés affiliées, successeurs et ayants droit (collectivement, le « groupe du concours »), ne formulent aucune garantie ni déclaration, expresse ou implicite, en fait ou en droit, relativement à l’utilisation ou à la jouissance du véhicule, incluant mais sans s’y limiter, en ce qui a trait à la qualité, au bon état mécanique, à la qualité marchande ou à l’adéquation à un usage particulier dudit véhicule. Toutes les garanties relatives au grand prix sont assujetties aux modalités et conditions du constructeur du véhicule, et le gagnant accepte de se tourner uniquement vers ledit constructeur pour faire valoir ces garanties.</p>
            <h3>MODALITÉS ET CONDITIONS RELATIVES AU GRAND PRIX*</h3>
            <p><strong>*Présentation du grand prix:</strong>On s’attend à ce que la présentation du grand prix (appelée ci-après la « présentation ») ait lieu à la parade des produits Canadian Tire à Toronto, en Ontario, entre les 18 et 20 septembre 2015 ou autour de ces dates (appelée ci-après la « date spécifiée de présentation »). Le gagnant du grand prix sera invité à venir à Toronto pour accepter le prix en personne. La date spécifiée de présentation peut être modifiée si la parade des produits Canadian Tire est reportée pour quelque raison que ce soit. Le gagnant du grand prix devra cependant prendre possession du véhicule chez le concessionnaire MINI autorisé le plus proche de sa résidence, qui lui a été désigné par le commanditaire, conformément au présent règlement.

            </p>
            <p>Pour que le gagnant du grand prix puisse assister à la cérémonie de présentation, le commanditaire accepte, le cas échéant, de payer à son entière discrétion les frais de voyage comme suit : </p>
            <ul style="margin:1em;">
                <li style="color:#fff;">Billet d’avion aller en classe économique pour une (1) personne en partance du grand aéroport le plus proche de la résidence du gagnant du grand prix jusqu’à Toronto, en Ontario, le jour avant la date spécifiée de présentation, soit le ou autour du 18 septembre 2015.</li>
                <li style="color:#fff;">Billet d’avion retour en classe économique pour une (1) personne jusqu’au grand aéroport le plus proche de la résidence du gagnant, le jour après la date de présentation.
                </li>
                <li style="color:#fff;">STransport terrestre de l’aéroport à l’hôtel, et de l’hôtel à l’aéroport.o</li>
                <li style="color:#fff;">Hébergement standard à l’hôtel pour une (1) personne pendant deux (2) nuitées dans le centre-ville de Toronto.</li>
                <li style="color:#fff;">250 $ en argent de poche.</li>
            </ul>
            <p>Tous les coûts qui ne sont pas susmentionnés, incluant mais sans s’y limiter, les repas, le transport local, les vols de correspondance (s’il y a lieu), les documents de voyage, les assurances (incluant l’assurance maladie), les frais de téléphone, d’Internet, de télécopieur et de courriel, le service aux chambres, les repas et boissons qui ne sont pas indiqués comme faisant partie du prix, les excursions et les visites guidées facultatives, les services de spa et les articles de nature personnelle sont entièrement à la charge du gagnant et ne sont pas inclus dans le grand prix. Les billets d’avion émis dans le cadre du voyage à Toronto ne sont pas admissibles aux programmes pour voyageurs fréquents. Aucune modification ne pourra être apportée aux modalités de voyage une fois les réservations confirmées. Si, pour des raisons indépendantes de la volonté du commanditaire, le gagnant du grand prix était incapable de réclamer son prix en tout ou en partie, aucune compensation ni substitution de prix (ou élément du prix) ne lui serait accordée. Le grand prix doit être accepté tel qu’il est décerné, sans aucune substitution. Certaines restrictions s’appliquent. Le commanditaire se réserve le droit de remplacer le grand prix, en tout ou en partie, par un prix de valeur égale ou supérieure. Le grand prix n’est ni transférable ni cessible. Le commanditaire se réserve le droit, à son entière discrétion et sans obligation de sa part, de remplacer le grand prix par un prix de valeur égale ou supérieure si le grand prix ne peut être décerné ni livré pour quelque raison que ce soit. Il incombe au gagnant de payer toutes les autres dépenses afférentes au grand prix qui ne sont pas expressément mentionnées dans les présentes. Pour avoir droit au grand prix décrit ci-dessus, le gagnant admissible doit d’abord signer tous les documents applicables qui lui seront présentés par le concessionnaire MINI désigné, incluant mais sans s’y limiter, la formule de déclaration de conformité et de décharge de responsabilité.
            </p>
            <h3>TIRAGE DU GRAND PRIX
            </h3>

            <p><strong>Tirage du grand prix pour le concours « Prenez-en soin et gagnez-la! » d’Armor All<sup>®</sup>:</strong> Le 17 août 2015, vers 10 h (HE) à Oakville, en Ontario, l’on procédera au tirage au sort du grand prix à partir de tous les bulletins de participation admissibles reçus par l’entreprise indépendante chargée de gérer et de juger le concours. Les chances de gagner le grand prix dépendront du nombre total de bulletins de participation admissibles reçus. Le participant choisi sera avisé par téléphone. Avant d’être déclaré gagnant, le participant choisi devra répondre correctement, dans un délai précis et sans aucune aide mécanique ou autre, à une question d’habileté mathématique qui lui sera posée par téléphone. Pour recevoir son prix, le gagnant admissible devra d’abord signer et retourner une formule de déclaration de conformité et de décharge (attestant qu’il s’est conformé au présent règlement officiel et qu’il dégage le « groupe du concours » de toute responsabilité quant à sa participation au concours ou à la remise, à l’utilisation et/ou au mauvais emploi du prix) dans les dix (10) jours ouvrables suivant la réception de l’avis de notification. Si le participant choisi ne peut être joint par téléphone dans les cinq (5) jours ouvrables suivant le tirage du grand prix, s’il ne retourne pas les documents du concours dans le délai prescrit ou s’il ne répond pas correctement à la question d’habileté, il perdra son droit au grand prix et un autre gagnant sera tiré au sort parmi tous les bulletins de participation admissibles. Les décisions de l’entreprise indépendante chargée de gérer et de juger le concours sont finales et sans appel. </p>

            <h3>PRIX INSTANTANÉS EN LIGNE</h3>
            <p>Pendant la période du concours, mille (1 000) prix instantanés en ligne seront attribués au hasard. Mille (1 000) instants gagnants seront générés de façon aléatoire par ordinateur pendant la période du concours. Si vous êtes la première personne à vous inscrire au concours à l’un de ces instants précis, ou tout juste après, et que vous recevez le message « Vous avez gagné un prix instantané », vous pourriez avoir droit à l’un (1) des prix suivants:
            </p>

            <table width="800" border="1" bordercolor="#E1E1E1">
  <tbody>
    <tr>
      <td scope="col">Respect It & Win It! Prize Pool</td>
    </tr>
    <tr>
      <td>Instant Win</td>
    </tr>
    <tr>
      <td><table width="800" border="1" bordercolor="#E1E1E1">
        <tbody>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Value</th>
            <th scope="col">QTY</th>
            <th scope="col">ARV</th>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$10.00</td>
            <td>90</td>
            <td>$900.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$25.00</td>
            <td>35</td>
            <td>$875.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$$50.00</td>
            <td>15</td>
            <td>$750.00</td>
          </tr>
          <tr>
            <td>Canadian Tire Gift Card</td>
            <td>$100.00</td>
            <td>10</td>
            <td>$1,000.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Air Fresheners  Pack of 3</td>
            <td>$3.99</td>
            <td>250</td>
            <td>$997.50</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Trim & Plastic Restorer 236 mL</td>
            <td>$19.00</td>
            <td>100</td>
            <td>$1,999.00</td>
          </tr>
          <tr>
            <td>Amor All<sup>®</sup> Outlast<sup>™</sup> Protectant 236 mL</td>
            <td>$12.49</td>
            <td>100</td>
            <td>$1,249.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Tire Glaze Aerosol 226 g</td>
            <td>$19.99</td>
            <td>100</td>
            <td>$1,999.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Outlast<sup>™</sup> Leather Restorer 236 mL</td>
            <td>$13.99</td>
            <td>100</td>
            <td>$1,399.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> Extreme Glass Cleaner Aerosol 567 g</td>
            <td>$8.49</td>
            <td>100</td>
            <td>$849.00</td>
          </tr>
          <tr>
            <td>Armor All<sup>®</sup> QuickSilver<sup>™</sup> Tire & Rim Cleaner 710 mL</td>
            <td>$12.99</td>
            <td>100</td>
            <td>$1,299.00</td>
          </tr>
          <tr>
            <td>Total Instant Win</td>
            <td></td>
            <td>1000</td>
            <td>$13,316.50</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>



            <p><strong>Il y a en tout 1 000 prix instantanés à gagner pendant toute la durée du concours, d’une valeur totale d’environ 13 316,50 $. </strong></p>

            <p>Le commanditaire se réserve le droit, à son entière discrétion et sans obligation de sa part, de remplacer le prix instantané par un prix de valeur égale ou supérieure si le prix décrit ne peut être décerné pour quelque raison que ce soit. Les chances de gagner un prix instantané dépendent de la date et de l’heure à laquelle le participant soumet son bulletin de participation et du nombre de prix instantanés qu’il reste à gagner en ligne au moment de son inscription. Si personne ne s’inscrit au concours à l’un des instants prédéterminés, le participant qui s’inscrit au concours immédiatement après cet instant précis sera admissible à un prix. Tout prix instantané en ligne qui n’est pas attribué le jour où il peut être gagné sera reporté au(x) jour(s) subséquent(s) pendant la période du concours et pourra être gagné par le prochain participant admissible. Une fois inscrit au concours, vous pouvez ouvrir une nouvelle session une fois par jour pendant la période du concours (un « jour » commence à minuit [HE] et se termine à 23:59:59 [HE], sauf le 4 mai 2015 où le « jour » commence à 9:00 [HE] et le 14 août 2015 où le « jour » se termine à 17:00 [HE]) pour courir une autre chance de gagner un prix instantané.

            </p>
            <p>Si, à la suite d’une erreur électronique ou autre, il y avait plus de prix instantanés attribués en ligne et/ou réclamés que le nombre prévu, les prix encore non attribués après la découverte de cette erreur seraient décernés dans le cadre d’un tirage au sort effectué parmi toutes les réclamations de prix instantanés admissibles reçues en ligne avant la date de clôture du concours. En aucun cas, le commanditaire ne sera tenu de décerner plus de mille (1 000) prix instantanés en ligne. Limite d’un (1) prix instantané en ligne par personne et par adresse de courriel. Limite de deux (2) prix instantanés en ligne par foyer. Tous les participants qui reçoivent un message gagnant seront redirigés vers une page d’instructions à suivre pour réclamer leur prix, et devront également répondre correctement à une question d’habileté mathématique.</p>
            <p>Pour recevoir son prix, le gagnant admissible à un prix instantané en ligne pourrait d’abord devoir signer et retourner une formule de déclaration de conformité au règlement, de décharge de responsabilité et de renonciation de droits à des fins publicitaires dans les dix (10) jours ouvrables suivant la réception de l’avis de notification. Si le participant choisi ne retourne pas les documents du concours dans le délai prescrit ou s’il n’a pas répondu correctement à la question d’habileté qui lui a été posée en ligne, il perdra son droit au prix instantané et un autre gagnant sera tiré au sort parmi tous les participants admissibles qui n’ont pas encore gagné un prix instantané à la date de clôture du concours.</p>
            <p>Les gagnants d’un prix instantané en ligne demeurent admissibles au tirage du grand prix décrit dans les présentes. </p>
            <p>Dans les six (6) à huit (8) semaines suivant l’attribution du prix, tous les prix instantanés décernés en ligne seront expédiés directement à l’adresse postale indiquée sur le bulletin de participation des gagnants. Tous les gagnants potentiels d’un prix instantané en ligne peuvent faire l’objet d’une vérification par le commanditaire, dont les décisions sont finales et obligatoires. Une « capture d’écran » ne prouve pas que vous êtes détenteur d’un bulletin gagnant et/ou que vous avez gagné un prix. Un participant au concours n’est pas le gagnant d’un prix, même s’il a reçu une notification en ligne dans ce sens, tant que son admissibilité et son bulletin potentiellement gagnant n’ont pas été vérifiés. Le commanditaire n’acceptera pas les captures d’écran ni aucune autre preuve de bulletin gagnant en remplacement du processus de validation. Si, après une défaillance du système pour quelque raison que ce soit, un participant reçoit une notification en ligne lui indiquant qu’il a gagné, ladite notification sera considérée nulle et ne sera pas prise en compte. </p>
            <p>Tous les prix doivent être acceptés tels qu’ils sont décernés. Ils ne peuvent pas être échangés contre de l’argent comptant ni un crédit, en tout ou en partie. Certaines restrictions s’appliquent. Si, pour des raisons indépendantes de la volonté du commanditaire, le gagnant d’un prix était incapable d’accepter son prix en tout ou en partie, aucune compensation ni substitution de prix (ou élément du prix) ne lui serait accordée. Tous les prix et tous les éléments de prix sont décernés tels quels, sans aucune garantie de la part du groupe du concours, incluant, sans réserve, toute garantie de qualité marchande ou d’adéquation à un usage particulier et/ou toute garantie que le prix ou les éléments du prix sont exempts de défauts ou de vices cachés, et l’acceptation d’un prix vaut consentement de la part du gagnant à se tourner exclusivement vers le fabricant et la garantie fournie par ce dernier, le cas échéant, si le prix comporte des défauts. Tous les gagnants de prix reconnaissent que la seule garantie applicable à leur prix est la garantie standard du fabricant.
            </p>
            <p>Les cartes-cadeaux Canadian Tire sont assujetties aux modalités et conditions d’utilisation de la carte.</p>
            <p>Aucun des membres du groupe du concours ne peut être tenu responsable de quelque manière que ce soit, ni n’assume quelque responsabilité que ce soit, en ce qui a trait au concours ou à un prix décerné dans le cadre du concours. En s’inscrivant au concours, les participants acceptent de dégager et d’exonérer le groupe du concours de toute responsabilité en cas de blessures, de pertes ou de dommages de quelque nature que ce soit, subis par eux-mêmes ou par une autre personne, incluant une blessure corporelle, un décès ou des dommages matériels découlant directement ou indirectement, en tout ou en partie, de l’acceptation, de la possession, de l’utilisation ou du mauvais emploi du prix, de leur participation au concours, de leur participation à toute activité liée au concours ou d’une dérogation au présent règlement. Les participants consentent à indemniser entièrement le groupe du concours contre toute réclamation de tiers relativement au concours, incluant, sans réserve, les réclamations pour violation ou revendication de droit d’auteur, de droit à la vie privée ou de droit à la personnalité. Ni les membres du groupe du concours, ni l’entreprise indépendante chargée de gérer et de juger le concours ne peuvent être tenus responsables des défectuosités ou défaillances techniques d’une ligne ou d’un réseau téléphonique, des systèmes informatiques en ligne ou des serveurs, ni des problèmes de logiciels ou des problèmes d’encombrement du réseau Internet ou d’un site Web, ni de tout préjudice ou dommage subi par l’ordinateur d’un participant ou de toute autre personne et découlant d’une participation au concours.
            </p>

            <p>En cas de litige concernant l’identité d’un gagnant selon son adresse électronique, le bulletin de participation gagnant sera réputé avoir été soumis par le titulaire autorisé de l’adresse de courriel indiquée au moment de la participation. On entend par « titulaire autorisé de l’adresse de courriel » la personne physique qui a obtenu une adresse électronique de la part d’un fournisseur d’accès Internet ou de toute autre organisation responsable de l’attribution des adresses électroniques pour le domaine associé à l’adresse de courriel en question.
            </p>

            <p><strong>ADMISSIBILITÉ:</strong>Ce concours s’adresse aux résidants légaux du Canada qui ont atteint l’âge de la majorité dans leur province ou territoire de résidence à la date de clôture du concours, à l’exception des employés (et des personnes domiciliées avec eux) du groupe du concours.</p>

            <p><strong>GÉNÉRALITÉS:</strong>Ce concours est assujetti à toutes les lois et à tous les règlements fédéraux, provinciaux et municipaux. En s’inscrivant à ce concours, les participants acceptent de respecter le règlement officiel et consentent à ce que les décisions du commanditaire et de l’entreprise indépendante chargée de gérer et de juger le concours soient finales et obligatoires en ce qui touche tous les aspects du concours. Tous les bulletins de participation deviennent la propriété du commanditaire et aucun ne sera retourné. Le commanditaire recueille des renseignements personnels sur les participants aux seules fins de gestion et de promotion du concours. Les participants ne recevront aucun renseignement ni aucune autre communication de marketing, à moins qu’ils aient donné au commanditaire (et à ses agences et partenaires promotionnels) l’autorisation expresse de leur en faire parvenir sur le bulletin de participation en ligne. En remplissant et en soumettant un bulletin de participation, les participants consentent à ce que le commanditaire recueille, utilise et distribue leurs renseignements personnels aux fins de gestion du concours (les renseignements seront conservés pendant environ un an). Pour obtenir de plus amples renseignements sur l’utilisation des données personnelles par le commanditaire, veuillez consulter sa politique de confidentialité à http://www.armorall.ca/privacy-policy. En participant au concours, les gagnants consentent à ce que leurs bulletins de participation, nom, adresse et photos ou représentations d’eux-mêmes soient utilisés, sans aucune forme de compensation, à des fins publicitaires par le commanditaire et/ou par ses agences. Si le volet électronique de ce concours ne pouvait se dérouler comme prévu pour quelque raison que ce soit, incluant mais sans s’y limiter, un virus informatique, un bogue, une tentative de trafiquage, une défaillance technique ou tout autre élément indépendant de la volonté du commanditaire, ce dernier se réserverait le droit, à son entière discrétion et avec l’autorisation de la Régie des alcools, des courses et des jeux du Québec, d’annuler ou de suspendre ce concours, ou de modifier le présent règlement en tout temps et sans préavis. Toute tentative visant à endommager intentionnellement un site Web ou à nuire à la conduite légitime de ce concours contrevient aux lois criminelles et civiles. Dans une telle éventualité, le commanditaire du concours se réserverait le droit de chercher réparation ou de réclamer des dommages et intérêts dans les limites maximales permises par la loi, y compris une poursuite au criminel.
            </p>
            <p>Pour les résidants du Québec, tout litige concernant la tenue ou la mise en œuvre d’un concours publicitaire peut être soumis à la Régie des alcools, des courses et des jeux afin d’obtenir un jugement. Tout litige relatif à l’attribution d’un prix ne peut être soumis à la Régie que dans le seul but d’aider les parties à en arriver à un règlement.
            </p>
            <p>En cas de divergence ou de contradiction entre la version anglaise de ce règlement officiel et les divulgations ou autres déclarations contenues dans les autres documents reliés au concours, les dispositions de la version anglaise de ce règlement officiel prévaudront et régiront toutes les modalités du présent concours. En cas de divergence ou de contradiction entre la version anglaise et la version française du règlement, le règlement en anglais prévaudra et régira les modalités du présent concours.
            </p>
            <h3>Lignes directrices concernant les soumissions</h3>
            <ul style="margin:1em;">
                <li style="color: #fff;">Les photos doivent être envoyées en format .jpg, .png ou .gif ; </li>
                <li style="color: #fff;">La taille du fichier photo ne doit pas dépasser 5 Mo ;</li>
                <li style="color: #fff;">La soumission doit comporter un titre et une description ;</li>
                <li style="color: #fff;">Le titre et la description de la soumission doivent être en français ou en anglais ; et
                </li>
                <li style="color: #fff;">La soumission ne doit pas avoir déjà été présentée dans le cadre d’un autre concours, quel qu’il soit, ni avoir été exposée ou affichée publiquement par quelque moyen que ce soit.

                </li>
            </ul>
            <p>En s’inscrivant à ce concours, chaque participant accepte d’être lié par ce règlement officiel (le « règlement ») et par l’interprétation qu’en fait le commanditaire à son entière discrétion. Il garantit et déclare également que sa soumission (photo ou conseil d’entretien automobile) :
            </p>
            <ol style="margin:1em;">
                <li style="color: #fff;">est une création originale de sa part et qu’il détient tous les droits nécessaires sur son contenu ;</li>
                <li style="color: #fff;">n’enfreint aucune loi, aucun acte, aucune ordonnance ni aucun règlement ;</li>
                <li style="color: #fff;">ne comporte aucune référence ni ressemblance à des tiers identifiables, à moins d’avoir obtenu le consentement de toutes les personnes en question (et de leur parent ou tuteur légal si elles sont d’âge mineur dans leur province ou territoire de résidence) ;</li>
                <li style="color: #fff;">ne donnera lieu à aucune réclamation pour violation de droits ou de lois, ni à aucune réclamation pour atteinte au droit à la vie privée ou à la personnalité, qu’elle n’enfreindra aucun droit ni intérêt de tiers, ni n’occasionnera de réclamations pour paiement à quelque titre que ce soit ; et</li>
                <li style="color: #fff;">n’est aucunement diffamante, commercialement diffamatoire, pornographique ou obscène et, qu’elle ne contient, ne dépeint, n’évoque, ne traite ni n’englobe, sans aucune restriction, l’un ou l’autre de ce qui suit:</li>
                  <ul style="margin:1em;">
                    <li style="color: #fff;">nudité </li>
                    <li style="color: #fff;">activité sexuelle explicite, graphique ou excessive </li>
                    <li style="color: #fff;">langage et/ou symboles crus, vulgaires ou offensants </li>
                    <li style="color: #fff;">contenu qui approuve, tolère ou évoque des activités, des conduites ou des comportements illégaux, inappropriés ou dangereu</li>
                    <li style="color: #fff;">renseignements personnels sur des individus, incluant mais sans s’y limiter, leurs noms et leurs adresses (municipales ou électroniques) </li>
                    <li style="color: #fff;">comportements ou autres activités qui enfreignent les dispositions de ce règlement officiel </li>
                    <li style="color: #fff;">messages commerciaux, comparaisons ou sollicitations à l’égard de produits ou services autres que ceux du commanditaire </li>
                    <li style="color: #fff;">produits, marques de commerce, marques ou logos identifiables appartenant à une tierce partie </li>
                    <li style="color: #fff;">tout autre contenu jugé ou pouvant être jugé inapproprié, déplacé, répréhensible ou offensant, à la seule et entière discrétion du commanditaire et/ou du groupe du concours</li>

                  </ul>
              </ol>
            <p>Le commanditaire se réserve le droit, à sa seule et entière discrétion, d’éditer ou de modifier la soumission, ou de demander à un participant d’éditer ou de modifier sa soumission, afin que celle-ci se conforme au règlement officiel, ou pour toute autre raison que ce soit.
            </p>
            <p>En s’inscrivant au concours et en soumettant une photo ou un conseil d’entretien automobile, chaque participant (i) accorde au commanditaire, à sa société mère aux États-Unis et à leurs sociétés affiliées dans le monde entier une licence perpétuelle et non exclusive leur donnant le droit de publier, d’afficher, de reproduire, de modifier, d’éditer ou d’utiliser à toute autre fin sa soumission, en tout ou en partie, pour faire la publicité ou la promotion du concours, ou pour toute autre raison que ce soit ; (ii) renonce à tous les droits moraux sur sa soumission en faveur du commanditaire ; et (iii) accepte de dégager et d’exonérer le groupe du concours, et chacun de ses mandataires, employés, directeurs et successeurs, de toute réclamation pour atteinte à la personnalité, diffamation, atteinte à la vie privée, violation de droit d’auteur et/ou de marque de commerce, ainsi que de toute autre cause d’action liée à une violation de propriété intellectuelle de tiers. Sur demande, le participant devra signer tous les documents requis par le commanditaire ou ses mandataires désignés pour que ces derniers puissent utiliser les droits non exclusifs d’utilisation que leur a cédés le participant.
            </p>
        </div>
    </div>
</section>