<section class="main_bonusEntry" ng-controller="UpcEntryCtrl as upc">
    <div class="container12">
        <div class="column5">

            <!-- UPC Entry-->
            <div class="form_wrap">
                <h1>BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES POUR SOUMISSION DE CODES CUP</h1>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en soumettant le code CUP valide de tout produit Armor All®.
                </p>
                <p class="legal">Vous pouvez soumettre un maximum de cinq (5) codes CUP de produits Armor All® par personne et par adresse de courriel. Un maximum de vingt-cinq (25) bulletins supplémentaires pour soumission de codes CUP seront acceptés par personne et par adresse de courriel.
                </p>
                <p class="help-block">Vous avez téléversé {{upc.currentUpcEntryCount}} CUP</p>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[0].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[0].upc" ng-class="{ 'disable-it' : disableMe[0] }"/>
                    <p class="help-block" ng-show="upc.upcInput[0].invalid">S'il vous plaît entrer un CUP valide.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[1].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[1].upc" ng-class="{ 'disable-it' : disableMe[1] }"/>
                    <p class="help-block" ng-show="upc.upcInput[1].invalid">S'il vous plaît entrer un CUP valide.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[2].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[2].upc" ng-class="{ 'disable-it' : disableMe[2] }"/>
                    <p class="help-block" ng-show="upc.upcInput[2].invalid">S'il vous plaît entrer un CUP valide.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[3].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[3].upc" ng-class="{ 'disable-it' : disableMe[3] }"/>
                    <p class="help-block" ng-show="upc.upcInput[3].invalid">S'il vous plaît entrer un CUP valide.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[4].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[4].upc" ng-class="{ 'disable-it' : disableMe[4] }"/>
                    <p class="help-block" ng-show="upc.upcInput[4].invalid">S'il vous plaît entrer un CUP valide.</p>
                </div>
                <p>Les codes CUP se trouvent sur les produits Armor All® participants offerts dans les magasins Canadian Tire participants. Consultez le règlement complet pour une liste exhaustive des produits participants.
                </p>
                <img src="" alt=""/>
                <!-- <a href="" class="btn yellow">SOUMETTRE</a> -->
                <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="upc.compareUpc()">SOUMETTRE</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p class="help-block upload-error" ng-show="upc.currentUpcEntryCount >= 5">Vous avez atteint la limite de téléchargement de 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>