<section class="main_bonusEntry" ng-controller="UpcEntryCtrl as upc">
    <div class="container12">
        <div class="column5">

            <!-- UPC Entry-->
            <div class="form_wrap">
                <h1>Bonus Entries - UPC</h1>
                <p>Earn bonus entries into the Grand Prize Draw by entering a valid UPC from eligible Armor All® products.</p>
                <p class="legal">You may enter a maximum of five (5) UPCs from the participating products listed above per person/per email address. Maximum of twenty-five (25) UPC bonus entries per person/per email address.</p>
                <p class="help-block">You’ve uploaded {{upc.currentUpcEntryCount}} UPCs</p>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[0].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[0].upc" ng-class="{ 'disable-it' : disableMe[0] }"/>
                    <p class="help-block" ng-show="upc.upcInput[0].invalid">Please enter a valid upc.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[1].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[1].upc" ng-class="{ 'disable-it' : disableMe[1] }"/>
                    <p class="help-block" ng-show="upc.upcInput[1].invalid">Please enter a valid upc.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[2].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[2].upc" ng-class="{ 'disable-it' : disableMe[2] }"/>
                    <p class="help-block" ng-show="upc.upcInput[2].invalid">√ΩS'il vous plaît entrer un CUP valide.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[3].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[3].upc" ng-class="{ 'disable-it' : disableMe[3] }"/>
                    <p class="help-block" ng-show="upc.upcInput[3].invalid">Please enter a valid upc.</p>
                </div>
                <div class="formGroup" ng-class="{ 'has-error' : upc.upcInput[4].invalid }">
                    <input type="text" placeholder="UPC" ng-model="upc.upcInput[4].upc" ng-class="{ 'disable-it' : disableMe[4] }"/>
                    <p class="help-block" ng-show="upc.upcInput[4].invalid">Please enter a valid upc.</p>
                </div>

                <p>UPC product codes can be found on participating Armor All® products at participating Canadian Tire locations. See full Rules & Regulations for full list of participating products.</p>
                <img src="" alt=""/>
                <!-- <a href="" class="btn yellow" ng-click="upc.compareUpc()">Submit</a> -->
                <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="upc.compareUpc()">Submit</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p class="help-block upload-error" ng-show="upc.currentUpcEntryCount >= 5">You've reached upload limit of 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>