<section class="main_winners" ng-controller="WinnersCtrl as winners">
    <div class="container12">
        <div class="column6">
            <div class="form_wrap">
                <h1>Félicitations!</h1>
                <div class="winnersWrapper" ng-repeat="winner in winners">
                    <div class="winner_left">
                        <p>{{winner.name}} - {{winner.place}}</p>
                    </div>
                    <div class="winner_right">
                        <p>{{winner.place}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column6 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 410px;" class="mini_hero"/>
        </div>
    </div>
</section>