<section class="main_howToPlay">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Mode de participation</h1>
                <h3>Prix instantané:</h3>
                <p>1. Inscrivez-vous pour obtenir un bulletin de participation au tirage d’un prix instantané. Vous obtiendrez également un bulletin de participation au tirage du grand prix pour courir la chance de GAGNER* une MINI Cooper 5 portes.</p>
                <p>2. Ouvrez une session tous les jours pour courir encore la chance de GAGNER* un prix instantané.</p>
                <h3>Bulletins de participation supplémentaires pour le tirage du grand prix:</h3>

                <p>Montrez-nous comment vous prenez soin de votre véhicule en nous soumettant des conseils d’entretien automobile, et augmentez ainsi vos chances de gagner!</p>

                <p>1. Ouvrez une session et saisissez jusqu’à cinq codes CUP de produits Armor All<sup>®</sup>. Vous obtiendrez alors cinq bulletins supplémentaires par code CUP. </p>
                <div class="steps_item">
                    <img src="assets/images/barcode.jpg" alt=""/>
                </div>
                <p>2. Ouvrez une session et affichez jusqu’à cinq conseils d’entretien automobile. Vous obtiendrez alors cinq bulletins supplémentaires par conseil.
                </p>
                <div class="steps_item">
                    <h3>Respect Les conseils:</h3>
                    <p>Ne lavez pas votre voiture sur la lumière solaire directe</p>
                </div>
                <p>3. Ouvrez une session et affichez jusqu’à cinq photos. Vous obtiendrez alors cinq bulletins supplémentaires par photo.
                </p>
                <div class="steps_item">
                    <h3>Respect Les photos:</h3>
                    <ul class="respect_play">
                        <li><img src="assets/images/widgetThumbs/thumb_one.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_two.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_three.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_five.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_six.jpg" alt=""/></li>
                    </ul>
                </div>
                <p class="yellow_copy">Pour plus de détails sur le mode de participation et les chances de gagner, consultez le <a href="#/rules-and-regulations">Règlement du Concours.

                </a></p>
            </div>
        </div>
        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>