<section class="main_howToPlay">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>How to Play</h1>
                <h3>Instant Win:</h3>
                <p>1. Register and receive 1 entry into the Instant Win. Plus receive     1 entry into the Grand Prize Draw for a chance to WIN* a MINI Cooper 5 door car.</p>
                <p>2. Login daily for more chances to WIN a prize instantly.</p>
                <h3>Bonus Entries – Grand Prize Draw:</h3>

                <p>Show us how you Respect It with car care tips and increase your chances of winning!</p>

                <p>1. Login and enter up to 5 Armor All<sup>®</sup> UPC product codes from     participating products. Earn 5 bonus entries per UPC.</p>
                <div class="steps_item">
                    <img src="assets/images/barcode.jpg" alt=""/>
                </div>
                <p>2. Login and post up to 5 car care tips to earn bonus entries. Earn 5 bonus entries per tip.</p>
                <div class="steps_item">
                    <h3>Respect it tips:</h3>
                    <p>Don’t wash your car in direct sunlight to avoid water marks.</p>
                </div>
                <p>3. Login and post photos to earn bonus entries. Earn 5 bonus entries per photo.</p>
                <div class="steps_item">
                    <h3>Respect it pictures:</h3>
                    <ul class="respect_play">
                        <li><img src="assets/images/widgetThumbs/thumb_one.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_two.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_three.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_five.jpg" alt=""/></li>
                        <li><img src="assets/images/widgetThumbs/thumb_six.jpg" alt=""/></li>
                    </ul>
                </div>
                <p class="yellow_copy">For full details on how to enter and odds of winning, see the <a href="#/rules-and-regulations">Rules & Regulations</a></p>
            </div>
        </div>
        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>