
<footer>
    <div class="container12">
        <div class="column12">
            <nav id="footer_nav">
                <ul>
                    <li><a href=" http://www.armorall.com/" target="_blank">armorall.ca</a></li>
                    <li><a href="#/rules-and-regulations">Règlement </a></li>
                    <li><a href="http://www.armorall.com/privacy-policy/" target="_blank">Politique de confidentialité </a></li>
                    <li><a href="http://www.armorall.com/terms-of-use/" target="_blank">Conditions d’utilisation  </a></li>
                    <li><a href="#/help">aider?</a></li>
                    <li><a href="mailto:promotions@blazingtheagency.com" target="_blank">Communiquez avec nous</a></li>
                </ul>
            </nav>
        </div>
        <div class="column12">
            <p class="legal"><strong>*AUCUNE OBLIGATION D’ACHAT</strong>. Le concours commence à 9 h (HE) le 4 mai 2015 et se termine à 17 h (HE) le 14 août 2015, et s’adresse aux résidants canadiens ayant l’âge de la majorité. Il y a un (1) grand prix à gagner, soit une MINI Cooper 5 portes 2015 d’une valeur approximative de 27 000  $ CAN. Le véhicule décerné peut différer de celui qui est représenté. Les chances de gagner le grand prix dépendent du nombre de bulletins de participation admissibles reçus. Il y a 1 000 prix instantanés à gagner, dont la VAD approximative totale est de 13 300 $ CAN (la VAD des prix instantanés varie de 4 $ à 100 $ chacun). Limite d’un prix instantané par personne ou de 2 par foyer. Les chances de gagner un prix instantané dépendent de la date et de l’heure d’inscription au concours. Règlement complet accessible à <a href="http://armorallrespect.ca">www.ArmorAllRespect.ca</a>. Commandité par Armored AutoGroup Canada ULC. </p>
            <p class="legal">« MINI », le logo, toute autre désignation du modèle MINI et l’ensemble des marques, images et symboles reliés à MINI sont la propriété exclusive et/ou des marques de commerce de BMW AG, utilisées avec permission. MINI ne commandite pas ni ne participe à cette promotion. Le nom, les logos et les marques de commerce « Canadian Tire » sont la propriété de La Société Canadian Tire Limitée. Tous droits réservés. La Société Canadian Tire Limitée ne commandite pas ce concours et n’assume aucune responsabilité relativement à celui-ci. ©2015 The Armor All/STP Products Company. Tous droits réservés.</p>
        </div>
    </div>
</footer>