<header class="masthead">
    <div class="container12">
        <div class="columm12">
            <ul id="login_nav">
                <li><a href="#/login" ng-click="layout.logMe()">{{loginText()}}</a></li>
                <li><a href="" ng-click="layout.setTheLanguage()">| FRANCAIS</a></li>
                <li><a href="" style="display: none;">| English</a></li>
                <li><a href="https://www.facebook.com/ArmorAllCanada" target="_blank"><img src="assets/images/facebook_icon.jpg" alt=""/></a></li>
                <li><a href="https://www.youtube.com/user/ArmorAllCanada" target="_blank"><img src="assets/images/youtube_icon.jpg" alt=""/></a></li>
            </ul>
        </div>
        <div class="column2">
            <a href="#/login"><img src="assets/images/main_logo.png" alt="" class="header_logo"/></a>
        </div>
        <div class="column2 second_title">
            <h2>Respect it &amp; <br> <span>Win it<sup>*</sup></span></h2>
        </div>
        <div class="column8 alpha">
            <div class="mobile-toggle" ng-click="layout.openMobileNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class='navigation'>
                <ul>
                    <li><a href="#/register" ng-hide="isLogged">register</a></li>
                    <li><a href="#/how-to-play">how to play</a></li>
                    <li><a href="#/bonus-entry">bonus entry</a></li>
                    <li><a href="#/gallery">gallery</a></li>
                    <li><a href="#/prize-details">prize-details</a></li>
                    <li><a href="#/new-products">new products</a></li>
                    <li><a href="#/winners">winners</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
