/*

Main app stylesheet, this is divided in sections.

** Global
** Typo
** Links
** Sections
  -- Intro
  -- Main
  -- Bonus
  -- Products
** Elements
  -- Buttons
  -- Forms

 */

/*==============================
IMPORTS
===============================*/



/*==============================
GLOBAL
===============================*/
body
  background-color: #000
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

a
  text-decoration: none
  transition: all .2s ease
  cursor: pointer
  color: #fff
  &:hover, &:focus, &:active
    color:#f6db20


p
  margin-bottom: 20px
  color: #f2f2f2
  font-size: 14px
  line-height 18px


sup
  font-size: 12px

img
  display: block
  margin: 0 auto
  //padding-bottom: 20px

tr
  color: #fff
td
  padding: 10px 0
th
  text-align left

.row
  clear: both
  margin-bottom: 50px

/*==============================
TYPO
===============================*/
h1,h2,h3
  font-family: 'Arvo', serif;
  text-transform: uppercase
  font-weight: 700

h1
  font-size: 30px
h2
  font-size: 25px
h3
  font-size: 18px

.yellow_copy, .yellow_copy a
  color: #f6db20

.yellow_copy a
  text-decoration underline
/*==============================
FORMS
===============================*/

button,
input,
select,
textarea
  font-size 13px
  margin 0

  vertical-align baseline
  -moz-appearance none
  display: block
  margin-bottom: 10px

label
  display: block
  margin-bottom 10px
  font-size 13px
  color: #c6c6c6
  clear: both

select
  -webkit-appearance: none
  background-color: #fff
  background-image: url("../images/plus_icon.png")
  background-repeat no-repeat
  background-position: center right

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"]
  border none
  background #f6db20
  color rgba(0, 0, 0, .8)
  cursor pointer
  -webkit-appearance none
  display:inline-block
  transition: all .2s ease
  padding:13px 25px
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700
  letter-spacing: 1px
  font-weight: 700
  text-transform: uppercase
  font-size: 14px
  text-decoration: none
  letter-spacing: .5px

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]:hover
  background-color: #ddc11c
  color: #000

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="file"]:focus,
button:active,
input[type="button"]:active,
input[type="file"]:active,
input[type="reset"]:active
  border-color #aaa #bbb #bbb
  box-shadow inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)

input[type="checkbox"],
input[type="radio"]
  padding 0

input[type="search"]
  -webkit-appearance textfield
  box-sizing content-box

input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select
  color #666
  border 1px solid #ccc
  border-radius 3px

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus
  color #111

select,
textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]
  padding: 12px 10px;
  width: 100%

textarea
  overflow auto
  padding-left 3px
  vertical-align top
  width 100%

label.check_box {
  display: block;
  padding-left: 26px;
  text-indent: -24px;
}
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 10px 0 0px;
  vertical-align: bottom;
  display: inline-block
*overflow: hidden;
}

/*==============================
SECTIONS
===============================*/

/*-------------------Header*/
header
  background-color: #000000
  width: 100%
  padding: 20px 0
  border-bottom: solid 3px #f6db20

/*-------------------Navigation*/
nav ul li
  display: table-cell
  vertical-align middle
  padding: 0 10px
  text-align center
  color: #fff


nav li a
  color:#fff
  font-family: 'Arvo', serif;
  font-size: .7em
  text-transform: uppercase

ul#login_nav
  float: right
  margin-right 18px
  margin-bottom 20px


ul#login_nav li
  display: table-cell
  vertical-align: top
  padding: 0 3px

#login_nav li a
  color:#f6db20
  font-family: 'Arvo', serif;
  font-size: 11px
  text-transform: uppercase

.second_title h2
  color: #fff
  font-size: 21px
  line-height: 31px
  margin-top: 6px

.second_title h2 span
  color: #f6db20
  font-size: 39px
/*-------------------Main Intro*/
.main_intro, .main_register, .main_howToPlay, .main_winners, .main_prizeDetails, .main_gallery
  background: url("../images/sunset_back_new.jpg") no-repeat top center
  //background-size: cover
  padding: 30px 0

.main_bonusEntry
  background: url("../images/openroad_back_new.jpg") no-repeat top center
  //background-size: cover
  padding: 30px 0 0

.main_newProducts, .main_help
  background: url("../images/black_back.jpg") no-repeat top center
  //background-size: cover
  padding: 30px 0

.main_newProducts h1
  color: #f6db20
  margin-bottom: 10px
  letter-spacing: 1px

.main_intro h1
  color: #ffffff
  font-size: 40px
  line-height: 50px
  letter-spacing: 1px

.main_intro h1 span
  color: #f6db20
  font-size: 70px
  letter-spacing: 1px

.main_intro p
  font-size: 18px

.hero_wrap img
  margin-top: 480px
/*--------------------Registration Forn*/
.intro_title
  text-align: center

.form_wrap
  width: 100%
  background-color: rgba(0, 0, 0, 0.5)
  padding: 25px
  overflow: hidden
  -moz-box-shadow   inset 0 0 10px rgba(0, 0, 0, 0.67)
  -webkit-box-shadow inset 0 0 10px rgba(0, 0, 0, 0.67)
  box-shadow        inset 0 0 10px rgba(0, 0, 0, 0.67)

.form_wrap h3
  color: #ffffff
  margin-bottom: 10px
  font-size: 15px
  letter-spacing: 1px

.form_wrap h1
  color: #f6db20
  margin-bottom: 10px
  letter-spacing: 1px

.left_half_field
  float: left
  margin-right: 1.6%
  width: 47.5% !important

.right_half_field
  float: right
  width: 47.5% !important
/*--------------------How to Play*/
.steps_item
  background-color: rgba(255, 255, 255, 0.2)
  width: 100%
  padding: 10px
  margin-bottom: 10px

.respect_play li{
  display: inline-block
  padding: 0 8px
}
/*--------------------New Products*/
.main_newProducts p strong
  margin-bottom 10px

.main_newProducts h3
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 17px;
  text-transform: capitalize

.sub_title
  font-size: 18px
  font-weight: bold
  margin-bottom: 40px

.orange_wrap
  background-color: rgba(240, 99, 33, 0.71)
  -moz-box-shadow   inset 0 0 10px rgba(0, 0, 0, 0.67)
  -webkit-box-shadow inset 0 0 10px rgba(0, 0, 0, 0.67)
  box-shadow        inset 0 0 10px rgba(0, 0, 0, 0.67)
  padding: 10px

.orange_wrap p
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 30px;

.orange_wrap img
  display: inline-block;

.left_half
  float: left
  margin-right: 18px

.right_half
  float: left

.right_half a
  text-decoration underline
/*--------------------Winners*/
.winner_left
  width: 32%
  float: left
  margin-right 2%
.winner_right
  width: 63%
  float: left
.winner_left p, .winner_right p
  margin-bottom: 10px

.winnersWrapper
  height auto
  clear both
  p
    font-size 13px
/*--------------------Product Details*/
.details_left
  width: 50%
  float: left
  margin-right 2%
.details_center
  width: 20%
  float: left
  margin-right 2%
.details_right
  width: 16%
  float: left
/*--------------------Prize Details*/
.grand_prize
  background-color: rgba(240, 99, 33, 0.71)
  -moz-box-shadow   inset 0 0 10px rgba(0, 0, 0, 0.67)
  -webkit-box-shadow inset 0 0 10px rgba(0, 0, 0, 0.67)
  box-shadow        inset 0 0 10px rgba(0, 0, 0, 0.67)
  padding: 25px
  width: 360px
  margin: 0 auto

.grand_prize h3
  color: #ffffff
  margin-bottom: 10px
  font-size: 15px
  letter-spacing: 1px

.grand_prize h1
  color: #f6db20
  margin-bottom: 10px
  letter-spacing: 1px

.grand_wrap
  margin-top: 300px

/*-------------------------- Gallery*/
#imagelightbox
  position: fixed
  z-index: 9999
  -ms-touch-action: none
  touch-action: none

.carouselPlaceHolder
  width 200px
  height 200px
  background-color white
  float left
  margin 10px 10px

.galleryGroup
  width 100%
  height 100%
  position relative

.invisibleBrowse
  position absolute
  top 0
  left -9999px

.owl-prev
  color: #000
  float: left
  padding:13px 25px
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700
  text-transform: uppercase
  font-size: 14px
  text-decoration: none
  letter-spacing: .5px
  margin: 10px
  text-align center
  background-color: #f6db20

.owl-next
  color:#000
  float: right
  padding:13px 25px
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700
  text-transform: uppercase
  font-size: 14px
  text-decoration: none
  letter-spacing: .5px
  margin: 10px
  text-align center
  background-color: #f6db20

.owl-carousel
  overflow hidden
  .owl-item
    float left

.has-error .help-block,
.has-error input
  color #FF0000

.upload-error
  color: #ff0000

.help-block
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;


.disable-it
  opacity .5
  pointer-events none
/* "CLOSE" BUTTON */

#imagelightbox-close
{
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */
  text-align: left;
  background-color: #FFDD00;
  padding: 10px
  border-radius: 50%;
  position: fixed;
  z-index: 10002;
  top: 5em; /* 40 */
  right: 5em; /* 40 */

  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus
{
  background-color: #ddc11c;
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
  width: 2px;
  background-color: #000;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}
#imagelightbox-close:before
{
  -webkit-transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
#imagelightbox-close:after
{
  -webkit-transform: rotate( -45deg );
  -ms-transform: rotate( -45deg );
  transform: rotate( -45deg );
}

/* OVERLAY */

#imagelightbox-overlay
{
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5)
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*-------------------- Help*/
#formstatus
  text-align: center
  font-size: 24px
  line-height: 47px
  font-family: 'Arvo', serif;
  font-weight: 400
  color: #f6db20

/*--------------------Bottom Mods*/
.bottom_mods
  width: 100%
  background-color: rgba(0, 0, 0, 0.5)
  padding 20px 0
  margin-top: 30px

.bottom_mods h3
  color: #ffffff
  margin-bottom: 10px
  letter-spacing: 1px

.bottom_mods li{
  display: inline-block
  padding: 0 8px
}

.bottom_mods
  .scrollme
    width 100%
    max-height 118px
    ul
      width 100%
      height 100%
      li.tip
        width 100%
        height 100%
/*-------------------Footer*/
footer
  background-color: #000000
  width: 100%
  padding: 40px 0 10px 0
  border-top: solid 3px #f6db20

#footer_nav
  margin-bottom: 40px
  float: left
#footer_nav li
  border-right 1px solid #fff
#footer_nav li:last-child
  border-right none
.legal
  font-size: 11px
  color:#fff
/*==============================
ELEMENTS
===============================*/

/*-------------------Buttons*/

.btn
  display:inline-block
  padding:13px 25px
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700
  text-transform: uppercase
  font-size: 14px
  text-decoration: none
  letter-spacing: .5px
  margin-bottom: 20px
  text-align center

.btn_browse
  display:inline-block
  padding: 10.5px 25px;
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700
  text-transform: uppercase
  font-size: 14px
  text-decoration: none
  letter-spacing: .5px
  margin-bottom: 16px
  text-align center

.btn.vertical
  display:  block
  width: 40%
/*Line buttons*/

.btn.yellow
  background-color: #f6db20
  color:#000
  transition: all .2s ease
  &:hover
    background-color: #ddc11c
    color: #000

.btn_browse.yellow
  background-color: #f6db20
  color:#000
  transition: all .2s ease
  &:hover
    background-color: #ddc11c
    color: #000

/*==============================
Responsive Nav
===============================*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.masthead {
  z-index: 999;
  width: 100%;
  padding-top: 20px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 20px;
}

.masthead a.logo_badge{
  margin-top: -10px;
  display: block;
}

.open-nav {
  max-height: 600px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

.main_toggle{
  display: none;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #f6db20;
  display: block;
}

.modalLangBlock .modalEn{
  border-right: 1px solid #fff;    
}
/*------------------------Media Queries*/

@media only screen and (max-width: 1024px) {
  .second_title h2{
    font-size: 17px !important;
  }
  .second_title h2 span {
    font-size: 32px;
  }
  nav li a {
    font-size: .5em;
  }
}

@media only screen and (max-width: 768px) {
  .modalLangBlock{
    width: 100% !important;
  }
  .modalLangBlock modalEn{
    border-right: none;
  }
  .masthead {
    padding-top: 1px;
    max-height: 135px;
  }
  .main_nav{
    display: none;
  }
  ul#login_nav {
    margin-right: 0px !important;
    margin-top: 10px !important;
  }
  img.header_logo{
    margin: inherit;
    margin-top: 40px;
  }
  .mini_hero{
    margin-top: 50px !important;
  }
  #footer_nav{
    display: none;
  }
  .orange_wrap p {
    width: 100%;
    display: block;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 0px;
  }
  .orange_wrap img {
    display: block;
  }
  .right_half {
    width: 50%;
  }
  .second_title h2{
    display: none
  }
  .logo {
    float: none;
  }
  nav {
    width: 100%;
  }
  nav ul {
    padding-top: 0px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 80px;
  }
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
    display: block;
  }

  nav ul li a:hover, nav ul li a{
    border-bottom: none;
  }
  .mobile-toggle, .main_toggle {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  img.header_logo{
    margin: inherit;
    margin-top: 0px;
  }
  .masthead {
    padding-top: 1px;
    max-height: 175px;
  }
}

@media only screen and (max-width: 480px) {
  img.header_logo{
    margin: inherit;
    margin-top: 0px;
  }
  .masthead {
    padding-top: 1px;
    max-height: 175px;
  }
}

@media only screen and (max-width: 320px) {
  .masthead {
    padding-top: 1px;
    max-height: 175px;
  }
  .grand_wrap{
    margin-top: 50px
  }
  .grand_prize{
    width: 300px;
  }
  img.header_logo{
    margin: inherit;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  .container12 .column5, .container12 .column7 {
    width: 748px;
  }

}