<!DOCTYPE html>
<html ng-app="ArmorAll">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
    <title>Respect It & Win It Contest</title>
    <link rel="stylesheet" href="assets/styles/site.min.css"/>

    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
</head>
<body ng-controller="LayoutCtrl as layout">

    <section ng-include='headerFooterLang && "./assets/partials/header.html" || "./assets/partials/header_fr.html"'></section>
    <ui-language language="{{layout.currentLanguage()}}"></ui-language>
    <section ng-include='headerFooterLang && "./assets/partials/footer.html" || "./assets/partials/footer_fr.html"'></section>
    <section ng-include='"./assets/partials/languageModal.html"'></section>

    <script src="assets/scripts/vendor.min.js"></script>
    <script src="assets/scripts/site.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-62667024-1', 'auto');
      ga('send', 'pageview');
     
    </script>

</body>
</html>
