<section class="main_intro" ng-controller="PassResetCtrl as reset">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>PRENEZ-EN SOIN ET <br><span style="font-size: 57px;">GAGNEZ-LA !<sup>*</sup></span></h1>
                <p>GAGNER UNE MINI, C’EST UN PRIVILÈGE QUE VOUS POURRIEZ RÉCLAMER!*
                    VOUS POURRIEZ AUSSI GAGNER* 1 DES 1 000 PRIX INSTANTANÉS!</p>
            </div>
            <div class="form_wrap">
                <h3>Mot de passe oublié?</h3>
                <p>S'il vous plaît entrez votre adresse e-mail</p>
                <form action="" method="">
                    <input type="text" name="email" placeholder="Adresse de courriel" ng-model="reset.email">
                    <a class="btn yellow eng" ng-click="reset.submit( $event )">remettre</a>
                </form>
                <p>Un e-mail vous sera envoyé sous peu avec les instructions pour réinitialiser.</p>
            </div>
            <img src="assets/images/canadiantire_disc_fr.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>