<section class="main_intro" ng-controller="IntroCtrl as intro">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>Respect it &amp; <br><span>Win It<sup>*</sup></span></h1>
                <p>WINNING A MINI IS A PRIVILEGE THAT COULD BE YOURS!<sup>*</sup>
                    PLUS YOU COULD WIN* 1 OF 1,000 PRIZES INSTANTLY!</p>
                <a class="btn yellow" ui-sref="register">Register Now</a>
            </div>
            <div class="form_wrap">
                <h3>Already Registered?</h3>

                <form action="" method="">
                    <input type="text" name="fname" placeholder="Email" ng-model="intro.model.user">
                    <input type="password" name="lname" placeholder="Password" ng-model="intro.model.pass">
                    <a style="margin: 10px 0; display: block;" ui-sref="forgotPass">Forgot Password?</a>

                    <div class="submitBtnWrapper">
                      <a class="btn yellow vertical" ng-click="intro.submit( $event )">Sign In</a>
                      <div class="spinner" ng-show="uploadingImgs">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>
                    </div>
                    <p class="invalidMessage help-block upload-error" ng-show="invalidEmail">
                        Invalid Email/Password combination please try again.
                    </p>
                </form>
            </div>
            <img src="assets/images/canadiantire_disc.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>