<section class="main_intro" ng-controller="IntroCtrl as intro">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>PRENEZ-EN SOIN ET <br><span style="font-size: 57px;">GAGNEZ-LA !<sup>*</sup></span></h1>
                <p>GAGNER UNE MINI, C’EST UN PRIVILÈGE QUE VOUS POURRIEZ RÉCLAMER!*
                    VOUS POURRIEZ AUSSI GAGNER* 1 DES 1 000 PRIX INSTANTANÉS!</p>
                <a class="btn yellow" ui-sref="register">INSCRIVEZ-VOUS MAINTENANT</a>
            </div>
            <div class="form_wrap">
                <h3>DÉJÀ INSCRIT?</h3>

                <form action="" method="">
                    <input type="text" name="fname" placeholder="Adresse de courriel" ng-model="intro.model.user">
                    <input type="password" name="lname" placeholder="Mot de passe" ng-model="intro.model.pass">
                    <a style="margin: 10px 0; display: block;" ui-sref="forgotPass">Mot de passe oublié?</a>

                    <div class="submitBtnWrapper">
                      <a class="btn yellow vertical" ng-click="intro.submit( $event )">OUVERTURE DE SESSION</a>
                      <div class="spinner" ng-show="uploadingImgs">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>
                    </div>
                    <p class="invalidMessage help-block upload-error" ng-show="invalidEmail">
                        Invalid Email/Password combination please try again.
                    </p>
                </form>
            </div>
            <img src="assets/images/canadiantire_disc_fr.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section