/*==============================
LANGUAGE MODAL
===============================*/
.langModal
  width 100%
  height 100%
  top 0
  left 0
  position fixed
  padding: 130px 50px;
  background-color rgba( 00, 00, 00, 0.6 )
  .innerLangModal
    width 100%
    // height 317px
    overflow: hidden;
    background-color rgba( 00, 00, 00, 0.6 )
    // top 50%
    // margin-top -158px
    // left 50%
    // margin-left -452px
    // position: absolute
    padding-top 70px
    .modalLangBlock
      width 49%
      height 100%
      float left
      position relative
      .btn
        width 182px
        display block
        margin 45px auto
      h1
        font-size 15px !important
        color white
        text-align center
        span
          display inline-block
          margin 15px auto
    .modalLangSeparator
      width 2%
      height 100%
      float left
      .innerModalLangSeparator
        width 1px
        height 70%
        background-color rgba( 255, 255, 255, .75 )
        position relative
        margin 0 auto  