<section class="langModal animate-hide" ng-controller="LangModalCtrl as langModal" ng-hide="{{langModal.closeLangSelect}}">
    {{langModal.closeLangSelect}}
    <div class="innerLangModal">
        <div class="modalLangBlock modalEn">
            <div class="modalLangBlockTxt">
                <h1>Select your<br><span class="yellow_copy">Language</span></h1>
            </div>
            <a class="btn yellow eng" ng-click="langModal.setTheLanguage('english')">ENGLISH</a>
        </div>
        <div class="modalLangSeparator">
            <div class="innerModalLangSeparator"></div>
        </div>
        <div class="modalLangBlock modalFr">
            <h1>sélectionner votre <br/> <span class="yellow_copy">langue</span></h1>
            <a class="btn yellow french" ng-click="langModal.setTheLanguage('french')">français</a>
        </div>
    </div>
</section>
