<section class="main_intro" ng-controller="PassResetCtrl as reset">
    <div class="container12">
   		<div class="column5">
            <div class="intro_title">
                <h1>PRENEZ-EN SOIN ET <br><span style="font-size: 57px;">GAGNEZ-LA !<sup>*</sup></span></h1>
                <p>GAGNER UNE MINI, C’EST UN PRIVILÈGE QUE VOUS POURRIEZ RÉCLAMER!*
                    VOUS POURRIEZ AUSSI GAGNER* 1 DES 1 000 PRIX INSTANTANÉS!</p>
            </div>
            <div class="form_wrap">
                <h3>Réinitialisez votre mot de passe</h3>

                <form action="" method="">
                    <input type="password" name="fname" placeholder="Nouveau Mot de Passe" ng-model="intro.model.user">
                    <input type="password" name="lname" placeholder="Confirmer le Nouveau Mot de Passe" ng-model="intro.model.pass" ng-click="console.log('sup')">

                    <a class="btn yellow eng" ng-click="intro.submit( $event )">remettre</a>
                </form>
            </div>
            <img src="assets/images/canadiantire_disc_fr.png" style="margin-top: 30px;"/>
        </div>
   		<div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>
</section>