<section class="main_register">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Official Entry Form</h1>
                <p>Thank you for registering for the Armor All<sup>®</sup> Respect It & Win It Contest!</p>
                <!--If NOT WIN-->
                <p>Unfortunately, you didn’t win an instant prize this time, but you’ve earned 1 ENTRY into the Grand Prize Draw. Don’t forget to login daily for an additional instant win opportunity.</p>
                <h3>What Next?</h3>
                <p>Don’t forget, you can also earn BONUS ENTRIES into the Grand Prize Draw! So go ahead, show us how you Respect It:</p>
                <a href="" class="btn yellow vertical" ui-sref="upcEntry">UPC</a>
                <a href="" class="btn yellow vertical" ui-sref="tipsEntry">TIPS</a>
                <a href="" class="btn yellow vertical" ui-sref="photoEntry">PHOTO TIPS</a>
            </div>
        </div>
        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" class="mini_hero"/>
        </div>/>
    </div>
</section>
