<section class="main_register">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>MERCI!</h1>
                <p>FÉLICITATIONS! Vous avez gagné un prix instantané, soit 1 {{prize}}. win prize name>. Votre prix vous sera expédié dans les 6 à 8 prochaines semaines à l’adresse indiquée sur votre bulletin de participation. N’oubliez pas d’ouvrir une session tous les jours pour courir la chance de gagner un autre prix instantané.
                </p>
                <img src="{{prize_img}}" alt=""/>
                <h3>Et ensuite?</h3>
                <p>N’oubliez pas que vous pouvez aussi obtenir des BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES pour le tirage du grand prix! Alors, montrez-nous comment vous prenez soin de votre véhiculet:</p>
                <a href="" class="btn yellow vertical" ui-sref="upcEntry">CUP</a>
                <a href="" class="btn yellow vertical" ui-sref="tipsEntry">Conseils</a>
                <a href="" class="btn yellow vertical" ui-sref="photoEntry">Photos</a>
            </div>
        </div>
        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png"/>
        </div>
    </div>
</section>