<section class="main_register" ng-controller="RegisterCtrl as register">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>Official Entry Form</h1>
                <p>Complete the entry form for 1 entry into the Instant Win and 1 entry into the Grand Prize Draw for a chance to WIN* a MINI Cooper 5 door.</p>
                <p>Don’t forget to enter UPCs, tips and photos for additional bonus entries into the Grand Prize Draw!</p>
                <form role="form" name="registerForm" novalidate>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.email.$invalid }">
                      <input type="email" name="email" placeholder="Email" ng-model="register.registerInfo.email">
                      <p class="help-block" ng-show="registerForm.email.$invalid">Please enter a valid email.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.confEmail.$invalid }">
                      <input type="email" name="confEmail" placeholder="Confirm Email" ng-model="register.registerInfo.emailConf" match="register.registerInfo.email">
                      <p class="help-block" ng-show="registerForm.confEmail.$error.match">Emails must match.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.password.$invalid }">
                      <input type="password" name="password" placeholder="Password" ng-model="register.registerInfo.pass" ng-minlength="8">
                      <p class="help-block" ng-show="registerForm.password.$invalid">Password must be at least 8 characters.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.confPass.$invalid }">
                      <input type="password" name="confPass" placeholder="Confirm Password" ng-model="register.registerInfo.passConf" match="register.registerInfo.pass">
                      <p class="help-block" ng-show="registerForm.confPass.$error.match">Passwords must match.</p>
                    </div>

                    <input type="text" name="prefix" placeholder="Prefix (Mr, Ms, Mrs.)" ng-model="register.registerInfo.prefix">

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.fName.$invalid }">
                      <input type="text" name="fName" placeholder="First Name" ng-model="register.registerInfo.firstName" required>
                      <p class="help-block" ng-show="registerForm.fName.$dirty && registerForm.fName.$error.required">First name is required.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.lName.$invalid }">
                      <input type="text" name="lName" placeholder="Last Name" ng-model="register.registerInfo.lastName" required>
                      <p class="help-block" ng-show="registerForm.lName.$dirty && registerForm.lName.$error.required">Last name is required.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.addy.$invalid }">
                      <input type="text" name="addy" placeholder="Mailing Address" ng-model="register.registerInfo.address" required>
                      <p class="help-block" ng-show="registerForm.addy.$dirty && registerForm.addy.$error.required">Valid address is required.</p>
                    </div>

                    <div class="formGroup left_half_field">
                      <input type="text" name="suiteApt" placeholder="Suite/Apt" ng-model="register.registerInfo.suite">
                      <p class="help-block"></p>
                    </div>
                    <div class="formGroup right_half_field" ng-class="{ 'has-error' : registerForm.city.$invalid }">
                      <input type="text" name="city" placeholder="City" ng-model="register.registerInfo.city" required>
                      <p class="help-block" ng-show="registerForm.city.$dirty && registerForm.city.$error.required">Valid city is required.</p>
                    </div>

                    <div class="formGroup left_half_field" ng-class="{ 'has-error' : registerForm.province.$invalid }">
                        <select name="province" ng-model="register.registerInfo.province" required>
                            <option value="">Province:</option>
                            <option value="AB">AB</option>
                            <option value="BC">BC</option>
                            <option value="MB">MB</option>
                            <option value="NB">NB</option>
                            <option value="NL">NL</option>
                            <option value="NS">NS</option>
                            <option value="ON">ON</option>
                            <option value="PE">PE</option>
                            <option value="QC">QC</option>
                            <option value="SK">SK</option>
                        </select>

                      <p class="help-block" ng-show="registerForm.province.$dirty && registerForm.province.$error.required">Valid province is required.</p>
                    </div>

                    <div class="formGroup right_half_field" ng-class="{ 'has-error' : registerForm.pCode.$invalid }">
                      <input type="text" name="pCode" placeholder="Postal Code" ng-model="register.registerInfo.postalCode" required>
                      <p class="help-block" ng-show="registerForm.pCode.$dirty && registerForm.pCode.$error.required">Valid postal code is required.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.phone.$invalid }">
                      <input type="text" name="phone" placeholder="Daytime Telephone" ng-model="register.registerInfo.phone" ng-minlength="10" style="float:left;">
                      <p class="help-block" ng-show="registerForm.phone.$error.required && registerForm.phone.$invalid">Valid telephone is required.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.bdayYr.$invalid }">
                      <input type="text" name="bdayYr" placeholder="Year of Birth" ng-model="register.registerInfo.birthYr" required style="float:left;">
                      <p class="help-block" ng-show="registerForm.bdayYr.$dirty && registerForm.bdayYr.$error.required">Valid birth year is required.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.terms.$invalid }">
                      <label class="check_box">
                        <input type="checkbox" name="terms" value="" ng-model="register.registerInfo.terms" required>
                        I have read and agree to be legally bound by the Official Rules and declare that I have reached the age of majority in my province of residence.
                      </label>
                      <p class="help-block" ng-show="registerForm.terms.$dirty && registerForm.terms.$error.required">Please agree to terms.</p>
                    </div>

                    <label for="">Please correctly answer the following Mathematical Skill-Testing Question unaided: ( (6 ÷ 3) x 4) + 2 – 5</label>

                    <div class="formGroup">
                      <input type="text" name="mathTest" placeholder="Skill-Testing Question Answer " ng-model="register.registerInfo.testAnswer">
                      <input type="text" name="confMath" placeholder="Confirm Skill-Testing Question Answer" ng-model="register.testAnswerConf" match="register.registerInfo.testAnswer">
                      <p class="help-block upload-error" ng-show="registerForm.mathTest.$dirty && registerForm.confMath.$error.match">Check Answer</p>
                    </div>

                    <div
                            vc-recaptcha
                            theme="'light'"
                            key="register.key"
                            on-create="register.setWidgetId(widgetId)"
                            on-success="register.setResponse(response)">
                    </div>

                    <labeL style="color: #f6db20; padding:10px 0;">Opt-in not mandatory</labeL>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.newsStp"/>Yes, I would like to receive news, special offers and information from STP<sup>®</sup>.</label>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.newsArmor"/>Yes, I would like to receive news, special offers and information from Armor All<sup>®</sup>.</label>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.MiniNews"/>Stay in the loop. Be first to get MINI news, offers, event info, and more. We won’t take your inbox hostage.</label>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.CanadianNews"/>Yes, please sign me up to receive occasional information by email or mail from Canadian Tire Corporation, Limited, to notify me of any future news, product information, updates, contests or special offers from Canadian Tire</label>

                    <p>Privacy – We take your privacy seriously. We do not rent or sell personal information collected in this form.</p>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.$invalid }">
                      <!-- <a class="btn yellow eng" ng-click="registerForm.$valid && register.submit( $event )">Sign Up</a> -->
                      <div class="submitBtnWrapper">
                          <a class="btn yellow vertical" ng-click="registerForm.$valid && register.submit( $event )">Sign Up</a>
                          <div class="spinner" ng-show="uploadingImgs">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                          </div>
                      </div>
                      <p class="help-block" ng-show="{{registerForm.$invalid}}">Please verify your answers.</p>
                        <p class="help-block upload-error" ng-show="emailTaken">Email taken. Choose another please.</p>
                    </div>
                </form>
            </div>
        </div>

        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero.png" class="mini_hero"/>
        </div>/>
        </div>
    </div>
</section>
