<section class="main_register" ng-controller="RegisterCtrl as register">
    <div class="container12">
        <div class="column5">
            <div class="form_wrap">
                <h1>BULLETIN DE PARTICIPATION OFFICIEL</h1>
                <p>Remplissez ce bulletin de participation et vous obtiendrez une participation au tirage d’un prix instantané et une participation au tirage du grand prix pour courir la chance de GAGNER* une MINI Cooper 5 portes.</p>
                <p>N’oubliez pas de soumettre des codes CUP, des photos et des conseils d’entretien automobile pour obtenir des bulletins de participation supplémentaires pour le tirage du grand prix!</p>

                <form role="form" name="registerForm" ng-submit="">
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.email.$invalid }">
                        <input type="email" name="email" placeholder="Adresse de courriel " ng-model="register.registerInfo.email">
                        <p class="help-block" ng-show="registerForm.email.$invalid">S'il vous plaît entrer une adresse email valide.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.confEmail.$invalid }">
                        <input type="email" name="confEmail" placeholder="Confirmation de l’adresse de courriel" ng-model="register.registerInfo.emailConf" match="register.registerInfo.email">
                        <p class="help-block" ng-show="registerForm.confEmail.$error.match">Les e-mails doivent correspondre.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.password.$invalid }">
                        <input type="password" name="password" placeholder="Mot de passe" ng-model="register.registerInfo.pass" ng-minlength="8">
                        <p class="help-block" ng-show="registerForm.password.$invalid">Mot de passe doit être d'au moins 8 caractères.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.confPass.$invalid }">
                        <input type="password" name="confPass" placeholder="Confirmation du mot de passe" ng-model="register.registerInfo.passConf" match="register.registerInfo.pass">
                        <p class="help-block" ng-show="registerForm.confPass.$error.match">Les mots de passe doivent correspondre.</p>
                    </div>

                    <input type="text" name="prefix" placeholder="Titre (M., Mme, Mlle)" ng-model="register.registerInfo.prefix">

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.fName.$invalid }">
                        <input type="text" name="fName" placeholder="Prénom" ng-model="register.registerInfo.firstName" required>
                        <p class="help-block" ng-show="registerForm.fName.$dirty && registerForm.fName.$error.required">Prénom valide est requise.</p>
                    </div>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.lName.$invalid }">
                        <input type="text" name="lName" placeholder="Nom de famille" ng-model="register.registerInfo.lastName" required>
                        <p class="help-block" ng-show="registerForm.lName.$dirty && registerForm.lName.$error.required">Nom de famille valide est requise.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.addy.$invalid }">
                        <input type="text" name="addy" placeholder="Adresse postale" ng-model="register.registerInfo.address" required>
                        <p class="help-block" ng-show="registerForm.addy.$dirty && registerForm.addy.$error.required">Adresse postale valide est requise.</p>
                    </div>

                    <div class="formGroup left_half_field">
                        <input type="text" name="suiteApt" placeholder="Appartement" ng-model="register.registerInfo.suite">
                        <p class="help-block"></p>
                    </div>
                    <div class="formGroup right_half_field" ng-class="{ 'has-error' : registerForm.city.$invalid }">
                        <input type="text" name="city" placeholder="Ville" ng-model="register.registerInfo.city" required>
                        <p class="help-block" ng-show="registerForm.city.$dirty && registerForm.city.$error.required">Ville valide est requise.</p>
                    </div>

                    <div class="formGroup left_half_field" ng-class="{ 'has-error' : registerForm.province.$invalid }">
                        <select name="province" ng-model="register.registerInfo.province" required>
                            <option value="">Province:</option>
                            <option value="AB">AB</option>
                            <option value="BC">BC</option>
                            <option value="MB">MB</option>
                            <option value="NB">NB</option>
                            <option value="NL">NL</option>
                            <option value="NS">NS</option>
                            <option value="ON">ON</option>
                            <option value="PE">PE</option>
                            <option value="QC">QC</option>
                            <option value="SK">SK</option>
                        </select>
                        <p class="help-block" ng-show="registerForm.province.$dirty && registerForm.province.$error.required">Province valide est requise.</p>
                    </div>

                    <div class="formGroup right_half_field" ng-class="{ 'has-error' : registerForm.pCode.$invalid }">
                        <input type="text" name="pCode" placeholder="Code postal" ng-model="register.registerInfo.postalCode" required>
                        <p class="help-block" ng-show="registerForm.pCode.$dirty && registerForm.pCode.$error.required">Code postal valide est requise</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.phone.$invalid }">
                        <input type="text" name="phone" placeholder="#éro de téléphone de jour" ng-model="register.registerInfo.phone" ng-minlength="10" style="float:left;">
                        <p class="help-block" ng-show="registerForm.phone.$error.required && registerForm.phone.$invalid">#éro de téléphone de jour valide est requise.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.bdayYr.$invalid }">
                        <input type="text" name="bdayYr" placeholder="Année de naissance" ng-model="register.registerInfo.birthYr" required style="float:left;">
                        <p class="help-block" ng-show="registerForm.bdayYr.$dirty && registerForm.bdayYr.$error.required">Année de naissance valide est requise.</p>
                    </div>

                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.terms.$invalid }">
                        <label class="check_box">
                            <input type="checkbox" name="terms" value="" ng-model="register.registerInfo.terms" required>
                            J’ai lu et j’accepte de respecter le règlement officiel, et je déclare que j’ai l’âge de la majorité dans ma province ou mon territoire de résidence.
                        </label>
                        <p class="help-block" ng-show="registerForm.terms.$dirty && registerForm.terms.$error.required">S'il vous plaît accepter les conditions</p>
                    </div>

                    <label for="">Veuillez répondre correctement et sans aide à la question d’habileté mathématique suivante: ( (6 ÷ 3) x 4) + 2 – 5</label>

                    <div class="formGroup">
                        <input type="text" name="mathTest" placeholder="Réponse à la question d’habileté mathématique " ng-model="register.registerInfo.testAnswer">
                        <input type="text" name="confMath" placeholder="Confirmez la réponse à la question d’habileté mathématique" ng-model="register.testAnswerConf" match="register.registerInfo.testAnswer">
                        <p class="help-block upload-error" ng-show="registerForm.mathTest.$dirty && registerForm.confMath.$error.match">Les réponses doivent correspondre.</p>
                    </div>

                    <div
                            vc-recaptcha
                            theme="'light'"
                            key="register.key"
                            on-create="register.setWidgetId(widgetId)"
                            on-success="register.setResponse(response)"
                            lang="fr">
                    </div>

                    <labeL style="color: #f6db20; padding:10px 0;">Adhésion non-obligatoire</labeL>

                    <label class="check_box"> <input type="checkbox"  ng-model="register.registerInfo.newsStp"/>Oui, je veux recevoir des nouvelles, des offres spéciales et de l’information de la part de STP<sup>®</sup>.</label>

                    <label class="check_box"> <input type="checkbox" ng-model="register.registerInfo.newsArmor"/>Oui, je désire recevoir des bulletins, des offres spéciales et des renseignements de la part d’Armor All<sup>®</sup>. </label>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.MiniNews"/> Oui, je veux recevoir des nouvelles, des offres spéciales et de l’information de la part d’Armor All®</label>

                    <label class="check_box"><input type="checkbox" ng-model="register.registerInfo.CanadianNews"/>Oui, j’aimerais recevoir à l’occasion des renseignements par courriel ou par la poste de la part de La Société Canadian Tire Limitée, ou recevoir des nouvelles et des mises à jour ainsi que des renseignements sur les produits, concours ou offres spéciales que Canadian Tire pourrait envoyer à l’avenir</label>
                    <p>Confidentialité – Nous prenons votre vie privée très au sérieux. Nous ne pratiquons pas la location ni la vente des renseignements personnels recueillis dans ce formulaire.</p>
                    <div class="formGroup" ng-class="{ 'has-error' : registerForm.$invalid }">
                        <!-- <a class="btn yellow eng" ng-click="registerForm.$valid && register.submit( $event )">SOUMETTRE</a> -->
                        <div class="submitBtnWrapper">
                          <a class="btn yellow vertical" ng-click="registerForm.$valid && register.submit( $event )">SOUMETTRE</a>
                          <div class="spinner" ng-show="uploadingImgs">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                          </div>
                      </div>
                        <p class="help-block" ng-show="registerForm.$invalid">S'il vous plaît vérifier vos réponses.</p>
                        <p class="help-block upload-error" ng-show="emailTaken">Email prises. Choisir un autre s'il vous plaît .</p>
                    </div>
                </form>
            </div>
        </div>

        <div class="column7 hero_wrap">
            <img src="assets/images/mini_hero_fr.png"/>
        </div>
    </div>
</section>