<section class="main_help" ng-controller="HelpCtrl as help">
    <div class="container12">
        <div class="column6">
            <div class="form_wrap">
                <h1>Need Help?</h1>
                <p>Have questions about this contest?</p>
                <p>Please feel free to contact us and we’ll make sure to get back to you as soon as possible.</p>
                <p id="formstatus"></p>
                <form action="" method="post" id="contactform" name="contactForm">
                    <input type="text" name="name" placeholder="*Full Name" ng-model="formData.name">
                    <input type="email" name="email" placeholder="*Email" required ng-model="formData.email">
                    <select ng-model="formData.reason">
                        <option value="">What is your inquiry regarding:</option>
                        <option value="How to enter">How to enter</option>
                        <option value="How to submit a photo or tip">How to submit a photo or tip</option>
                        <option value="UPCs">UPCs</option>
                        <option value="Other">Other (please specify)</option>
                    </select>
                    <textarea rows="4" cols="50" name="message" placeholder="Comments:" ng-model="formData.message"></textarea>
                    <!-- <a class="btn yellow eng" ng-click="help.processForm( $event )">Submit</a> -->
                    <div class="submitBtnWrapper">
                      <a class="btn yellow vertical" ng-click="help.processForm( $event )">Submit</a>
                      <div class="spinner" ng-show="uploadingImgs">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>
                    </div>
                    <p class="help-block">{{showThankyou}}</p>
                </form>
            </div>
        </div>
        <div class="column6 hero_wrap">
            <img src="assets/images/product_hero.png" style="margin-top: 370px;" class="mini_hero"/>
        </div>
    </div>
</section>