<section class="main_bonusEntry">
    <div class="container12">
        <div class="column5">

            <!-- Entry Confirmation-->
            <div class="form_wrap">
                <h1>Thank You!</h1>
                <p>Thank you for submitting "UPC", "PHOTO", "TIPS" in the Armor All<sup>®</sup> Respect It & Win It Contest!  You’ve earned "5" ENTRIES into the Grand Prize Draw.</p>
                <p>Don’t forget, you can login daily for an additional instant win opportunity.</p>
                <h3>What's Next?</h3>
                <p>Earn even more BONUS ENTRIES into the Grand Prize Draw! So go ahead, show us how you Respect It:</p>
                <a ui-sref="upcEntry" class="btn yellow vertical">UPC</a>
                <a ui-sref="tipsEntry" class="btn yellow vertical">TIPS</a>
                <a ui-sref="photoEntry" class="btn yellow vertical">PHOTO TIPS</a>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>

    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>
