<section class="main_bonusEntry" ng-controller="PhotoEntryCtrl as photo">
    <div class="container12">
        <div class="column5">

            <!-- Photo Entry-->
            <div class="form_wrap">
                <h1>Bonus Entries - <br>Car Care Products</h1>
                <p>Earn bonus entries into the Grand Prize Draw by showing us how you Respect It – your car that is. Upload your car care photos to show us how you get showroom perfection: </p>
                <p class="legal">You may submit a maximum of five (5) photos. Five (5) bonus entries will be awarded for each qualifying Submission (photo tip). The total maximum #ber of “Respect It” bonus entries per person/per email address is fifty (50).</p>
                <p class="help-block">You’ve uploaded {{photo.currentPhotoEntryCount}} photos</p>
                <input type="text" placeholder="Upload Photo" class="left_half_field" ng-model="photo.files[0].name" ng-class="{ 'disable-it' : disableMe[0] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(1)" ng-class="{ 'disable-it' : disableMe[0] }">browse</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser1" ngf-select ngf-change="photo.onFileSelect($files, 0)" ng-file-select/>
                </div>
                <input type="text" placeholder="Upload Photo" class="left_half_field" ng-model="photo.files[1].name" ng-class="{ 'disable-it' : disableMe[1] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(2)" ng-class="{ 'disable-it' : disableMe[1] }">browse</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser2" ngf-select ngf-change="photo.onFileSelect($files, 1)" ng-file-select/>
                </div>
                <input type="text" placeholder="Upload Photo" class="left_half_field" ng-model="photo.files[2].name" ng-class="{ 'disable-it' : disableMe[2] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(3)" ng-class="{ 'disable-it' : disableMe[2] }">browse</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser3" ngf-select ngf-change="photo.onFileSelect($files, 2)" ng-file-select/>
                </div>
                <input type="text" placeholder="Upload Photo" class="left_half_field" ng-model="photo.files[3].name" ng-class="{ 'disable-it' : disableMe[3] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(4)" ng-class="{ 'disable-it' : disableMe[3] }">browse</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser4" ngf-select ngf-change="photo.onFileSelect($files, 3)" ng-file-select/>
                </div>
                <input type="text" placeholder="Upload Photo" class="left_half_field" ng-model="photo.files[4].name" ng-class="{ 'disable-it' : disableMe[4] }"/>
                <a class="right_half_field btn_browse yellow" ng-click="photo.openBrowse(5)" ng-class="{ 'disable-it' : disableMe[4] }">browse</a>
                <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input type="file" value="Browse" class="btn_browse yellow invisibleBrowse browser5" ngf-select ngf-change="photo.onFileSelect($files, 4)" ng-file-select/>
                </div>
                <p class="legal">Notes:<br>
                    - Please Respect It by playing nice in the sandbox and    ensure only appropriate content is submitted.<br>
                    - Photos must be in .jpg, .png or .gif format and must not exceed 5 MB in size.<br>
                    - Photos must contain a title and description.<br>
                    - Please allow at least 24 to 48 hours for your Entry to be reviewed during the screening process.<br>
                    - See details for complete Car Care Tips and Photo submission guidelines.
                </p>
                <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="photo.uploadImages()">Upload</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>

                <p class="help-block upload-error" ng-show="photo.currentPhotoEntryCount >= 5">You've reached upload limit of 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero.png" style="margin-top: 535px;" class="mini_hero"/>
        </div>
    </div>

    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>