<section class="main_bonusEntry" ng-controller="TipsEntryCtrl as tipsEntry">
    <div class="container12">
        <div class="column5">

            <!-- Tips Entry-->
            <div class="form_wrap">
                <h1>BULLETINS DE PARTICIPATION SUPPLÉMENTAIRES
                    POUR SOUMISSION DE CONSEILS D’ENTRETIEN AUTOMOBILE</h1>
                <p>Vous pouvez obtenir des bulletins supplémentaires pour le tirage du grand prix en nous disant comment vous prenez soin de votre véhicule. Téléchargez vos conseils d’entretien automobile pour nous dire comment vous atteignez une perfection: </p>
                <p class="legal">Vous pouvez soumettre un maximum de cinq (5) conseils d’entretien automobile. Cinq (5) bulletins supplémentaires seront attribués par soumission admissible (conseil d’entretien automobile). Limite de cinquante (50) bulletins supplémentaires «Prenez-en soin» par personne et par adresse de courriel.
                </p>
                <p class="help-block">Vous avez téléversé {{tipsEntry.currentTipsEntryCount}} trucs</p>
                <input type="text" placeholder="Votre Truc" ng-model="tipsEntry.tips[0]" ng-class="{ 'disable-it' : disableMe[0] }"/>
                <input type="text" placeholder="Votre Truc" ng-model="tipsEntry.tips[1]" ng-class="{ 'disable-it' : disableMe[1] }"/>
                <input type="text" placeholder="Votre Truc" ng-model="tipsEntry.tips[2]" ng-class="{ 'disable-it' : disableMe[2] }"/>
                <input type="text" placeholder="Votre Truc" ng-model="tipsEntry.tips[3]" ng-class="{ 'disable-it' : disableMe[3] }"/>
                <input type="text" placeholder="Votre Truc" ng-model="tipsEntry.tips[4]" ng-class="{ 'disable-it' : disableMe[4] }"/>
                <p class="legal">Remarques:<br>
                    - Jouez selon les règles et prenez soin de soumettre un contenu approprié.<br>
                    - Votre conseil doit être rédigé en 100 mots ou moins.<br>
                    - Veuillez compter de 24 à 48 heures pour l’examen des participations dans le cadre du processus de vérification.<br>
                    - See details for complete Car Care Tips and Photo submission guidelines.<br>

                </p>
                <!-- <a href="" class="btn yellow" ng-click="tipsEntry.submitTips()">SOUMETTRE</a> -->
                 <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="tipsEntry.submitTips()">SOUMETTRE</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p class="help-block upload-error" ng-show="tipsEntry.currentTipsEntryCount >= 5">Vous avez atteint la limite de téléchargement de 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero_fr.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>


    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>