<section class="main_bonusEntry" ng-controller="TipsEntryCtrl as tipsEntry">
    <div class="container12">
        <div class="column5">

            <!-- Tips Entry-->
            <div class="form_wrap">
                <h1>Bonus Entries - <br>Car Care Tips</h1>
                <p>Earn bonus entries into the Grand Prize Draw by showing us how you Respect It – your car that is. Upload your car care photos to show us how you get showroom perfection: </p>
                <p class="legal">You may submit a maximum of five (5) photos. Five (5) bonus entries will be awarded for each qualifying Submission (photo tip). The total maximum #ber of “Respect It” bonus entries per person/per email address is fifty (50).</p>
                <p class="help-block">You’ve uploaded {{tipsEntry.currentTipsEntryCount}} tips</p>
                <input type="text" placeholder="Your Tip" ng-model="tipsEntry.tips[0]" ng-class="{ 'disable-it' : disableMe[0] }"/>
                <input type="text" placeholder="Your Tip" ng-model="tipsEntry.tips[1]" ng-class="{ 'disable-it' : disableMe[1] }"/>
                <input type="text" placeholder="Your Tip" ng-model="tipsEntry.tips[2]" ng-class="{ 'disable-it' : disableMe[2] }"/>
                <input type="text" placeholder="Your Tip" ng-model="tipsEntry.tips[3]" ng-class="{ 'disable-it' : disableMe[3] }"/>
                <input type="text" placeholder="Your Tip" ng-model="tipsEntry.tips[4]" ng-class="{ 'disable-it' : disableMe[4] }"/>
                <p class="legal">Notes:<br>
                    - Please Respect It by playing nice in the sandbox and ensure only appropriate content is submitted.<br>
                    - Tips should be 100 words or less.<br>
                    - Please allow at least 24 to 48 hours for your Entry   to be reviewed during the screening process.<br>
                    - See details for complete Car Care Tips and Photo submission guidelines.<br>

                </p>
               <!--  <a href="" class="btn yellow" ng-click="tipsEntry.submitTips()">Submit</a> -->
                <div class="submitBtnWrapper">
                    <a class="btn yellow vertical" ng-click="tipsEntry.submitTips()">Submit</a>
                    <div class="spinner" ng-show="uploadingImgs">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p class="help-block upload-error" ng-show="tipsEntry.currentTipsEntryCount >= 5">You've reached upload limit of 5</p>
            </div>

        </div>
        <div class="column7">
            <img src="assets/images/mini_hero.png" style="margin-top: 460px;" class="mini_hero"/>
        </div>
    </div>


    <!-- Tips and Pictures Mods -->
    <div ng-include='headerFooterLang && "./assets/partials/bottomMod.html" || "./assets/partials/bottomMod_fr.html"'></div>
</section>
