<section class="main_newProducts">
    <div class="container12">
        <div class="column12">
            <h1>VOUS RECHERCHEZ UNE PERFECTION</h1>
            <p class="sub_title">Jetez un coup d’œil à notre nouvelle gamme de produits de première qualité.
            </p>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/trimrestore_prod.png" alt="" class="left_half"/>
                <h3>Le rénovateur pour plastique et garnitures Outlast<sup>MC</sup> d’Armor All<sup>®</sup></h3>
                <p class="right_half">
                    protège même après 100 lavages<sup>&dagger;</sup>.<br>
                    <span style="font-size: 11px;"><sup>&dagger;</sup>Consulter les détails sur l’étiquette <br>du produit.</span><br>
                    <a href="http://www.canadiantire.ca/fr/pdp/armor-all-outlast-trim-and-plastic-restorer-0392585p.html#.VUNuHvlVhHw " targe="_blank">Plus d’info</a>
                    <img src="assets/images/exclusive_ct_fr.png" style="float: right;"/>
                </p>

            </div>
            <div class="column4">
                <img src="assets/images/products/protectant_prod.png" alt="" class="left_half"/>
                <h3>Le protecteur en crème Outlast<sup>MC</sup> d’Armor All<sup>®</sup></h3>
                <p class="right_half">
                    offre notre niveau de protection  <br>le plus puissant.<br>
                    <a href="http://www.canadiantire.ca/fr/pdp/armor-all-outlast-protectant-cream-0392573p.html#.VUNudflVhHw " targe="_blank">Plus d’info</a>
                    <img src="assets/images/exclusive_ct_fr.png" style="float: right;"/>
                </p>
            </div>
            <div class="column4">
                <img src="assets/images/products/glaze_prod.png" alt="" class="left_half"/>
                <h3>Le lustre pour pneus Outlast<sup>MC</sup> d’Armor All<sup>®</sup></h3>
                <p class="right_half">
                    procure notre fini lustré le plus durable.<br>
                    <a href="http://www.canadiantire.ca/fr/pdp/armor-all-outlast-tire-glaze-0390747p.html#.VUNuoflVhHw " targe="_blank">Plus d’info</a>
                    <img src="assets/images/exclusive_ct_fr.png" style="float: right;"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/leather_prod.png" alt="" class="left_half"/>
                <h3>Le rénovateur pour le cuir Outlast<sup>MC</sup> d’Armor All<sup>®</sup> </h3>
                <p class="right_half">
                    nettoie, revitalise et protège en  <br>une seule étape facile.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-outlast-leather-restorer-0392969p.html#.VUNuxflVhHw " targe="_blank">Plus d’info</a>
                    <img src="assets/images/exclusive_ct_fr.png" style="float: right;"/>
                </p>

            </div>
            <div class="column4">
                <img src="assets/images/products/wheelclean_prod.png" alt="" class="left_half"/>
                <h3>Le nettoyant pour pneus et jantes Quicksilver<sup>MC</sup> d’Armor All<sup>®</sup></h3>
                <p class="right_half">
                    dissout la graisse, la saleté de la route  <br>et la poussière de frein.  <br>Aucun frottage requis.
                    <br>
                    <a href="http://www.canadiantire.ca/fr/pdp/armor-all-quicksilver-tire-and-rim-cleaner-0390738p.html#.VUNvBflVhHw " targe="_blank">Plus d’info</a>
                </p>
            </div>
            <div class="column4">
                <img src="assets/images/products/glass_prod.png" alt="" class="left_half"/>
                <h3>Le nettoyant pour vitres extrême Armor All<sup>®</sup></h3>
                <p class="right_half">
                    forme une mousse qui enlève rapidement  <br>la saleté, les marques blanches et les stries  <br>pour des vitres étincelantes de propreté.
                    <br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-extreme-glass-cleaner-0390815p.html#.VUNvMflVhHw " targe="_blank">Plus d’info</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/fresh_prod.png" alt="" class="left_half"/>
                <h3>Les rafraîchisseurs d’air Armor All<sup>®</sup>
                </h3>
                <p class="right_half">
                    rafraîchissent l’intérieur de votre véhicule  <br>avec toute une gamme de parfums <br> qui durent longtemps.  <br>Ils sont offerts en huile parfumée  <br>pour  bouche d’aération ou en emballage  <br>de trois cartons parfumés. <br>
                    <a href="http://www.canadiantire.ca/fr/pdp/armor-all-car-air-freshener-pure-linen-3-pk-0372590p.html#.VUNvpflVhHw " targe="_blank">Plus d’info</a>
                </p>
            </div>

            <div class="column8">
                <div class="orange_wrap">
                    <p>Pour économiser encore davantage, visitez la section des produits de nettoyage pour l’auto dans un magasin Canadian Tire<sup>®</sup> près de chez vous, et procurez-vous un coupon de 2 $ valable à l’achat d’un (1) produit Armor All<sup>®</sup> participant.</p>
                    <img src="assets/images/product_coupon.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>