<section class="main_newProducts">
    <div class="container12">
        <div class="column12">
            <h1>Looking for showroom <br>perfection, inside and out?</h1>
            <p class="sub_title">Check out our line of premium products.</p>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/trimrestore_prod.png" alt="" class="left_half"/>
                <h3>Armor All<sup>®</sup> Outlast<sup>™</sup> <br> Trim & Plastic Restorer</h3>
                <p class="right_half">
                    Protects for over 100<sup>&dagger;</sup> car washes.<br>
                    <span style="font-size: 11px;"><sup>&dagger;</sup>See Product for details</span><br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-outlast-trim-and-plastic-restorer-0392585p.html#.VUNt-_lVhHw " target="_blank">Learn More</a>
                    <img src="assets/images/exclusive_ct.png" style="float: right;"/>
                </p>

            </div>
            <div class="column4">
                <img src="assets/images/products/protectant_prod.png" alt="" class="left_half"/>
                <h3>Armor All<sup>®</sup> Outlast<sup>™</sup> <br> Cream Protectan</h3>
                <p class="right_half">
                    Offers our strongest level of protection.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-outlast-protectant-cream-0392573p.html#.VUNua_lVhHw " target="_blank">Learn More</a>
                    <img src="assets/images/exclusive_ct.png" style="float: right;"/>
                </p>
            </div>
            <div class="column4">
                <img src="assets/images/products/glaze_prod.png" alt="" class="left_half"/>
                <h3>All<sup>®</sup> Outlast<sup>™</sup> Tire Glaze</h3>
                <p class="right_half">
                    Provides our longest lasting shine. <br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-outlast-tire-glaze-0390747p.html#.VUNulPlVhHw " target="_blank">Learn More</a>
                    <img src="assets/images/exclusive_ct.png" style="float: right;"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/leather_prod.png" alt="" class="left_half"/>
                <h3>All<sup>®</sup> Outlast<sup>™</sup> <br> Leather Restorer</h3>
                <p class="right_half">
                    Cleans, conditions and protects<br> in one-easy step.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-outlast-leather-restorer-0392969p.html#.VUNuxflVhHw " target="_blank">Learn More</a>
                    <img src="assets/images/exclusive_ct.png" style="float: right;"/>
                </p>

            </div>
            <div class="column4">
                <img src="assets/images/products/wheelclean_prod.png" alt="" class="left_half"/>
                <h3>Armor All Quicksilver<sup>™</sup><br> Tire & Rim Cleaner</h3>
                <p class="right_half">
                    Dissolves grease, road grime <br>and brake dust - no scrubbing required.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-quicksilver-tire-and-rim-cleaner-0390738p.html#.VUNu-flVhHw " target="_blank">Learn More</a>
                </p>
            </div>
            <div class="column4">
                <img src="assets/images/products/glass_prod.png" alt="" class="left_half"/>
                <h3>Armor All<sup>®</sup> Extreme Glass Cleaner</h3>
                <p class="right_half">
                    A foaming glass cleaner that dissolves </br>grime and haze fast, leaving a sparkling <br>streak-free shine.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-extreme-glass-cleaner-0390815p.html#.VUNvMflVhHw " target="_blank">Learn More</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column4">
                <img src="assets/images/products/fresh_prod.png" alt="" class="left_half"/>
                <h3>Armor All<sup>®</sup> Air Fresheners</h3>
                <p class="right_half">
                    Freshen your car's Interior with a <br>
                    long-lasting Cool Mist scent.<br>
                    <a href="http://www.canadiantire.ca/en/pdp/armor-all-car-air-freshener-pure-linen-3-pk-0372590p.html#.VUNvsPlVhHw " target="_blank">Learn More</a>
                </p>
            </div>

            <div class="column8">
                <div class="orange_wrap">
                    <p>For additional savings, visit the car cleaning aisle of your local Canadian Tire<sup>®</sup> store for a $2 coupon applicable on purchase of one (1) select Armor All<sup>®</sup> product.</p>
                    <img src="assets/images/product_coupon.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>